Repository nlohmann/json, pull requests merged in 2018-10, with the labels that each got.

#1303 Improve diagnostic messages for binary formats
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-cbor.cpp
  test/src/unit-msgpack.cpp
  test/src/unit-regression.cpp
  test/src/unit-ubjson.cpp
Labels: release item: :zap: improvement

#1305 Add Meson related info to README
  README.md
Labels: release item: :zap: improvement

#1301 add new is_constructible_* traits used in from_json
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression.cpp
Labels: release item: :bug: bug fix

#1314 Allow to set error handler for decoding errors
  include/nlohmann/detail/output/serializer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-serialization.cpp
  test/src/unit-unicode.cpp
Labels: release item: :sparkles: new feature

#1323 Add macro to define enum/JSON mapping
  README.md
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-conversions.cpp
Labels: release item: :sparkles: new feature

#1315 Properly convert constants to CharType
  include/nlohmann/detail/output/binary_writer.hpp
  single_include/nlohmann/json.hpp
Labels: aspect: binary formats, release item: :bug: bug fix
