Repository nlohmann/json, pull requests merged in 2018-06, with the labels that each got.

#1117 remove stringstream dependency
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/lexer.hpp
  include/nlohmann/detail/output/serializer.hpp
Labels: kind: enhancement/improvement

#1138 Feature/unordered map conversion
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/output/serializer.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-conversions.cpp
Labels: kind: enhancement/improvement

#1028 Added support for string_view in C++17
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/meta.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-conversions.cpp
Labels: kind: enhancement/improvement

#1142 meson: fix include directory
  meson.build
Labels: kind: enhancement/improvement

#1144 Fix links to cppreference named requirements (formerly concepts)
  README.md
  include/nlohmann/detail/conversions/to_chars.hpp
  include/nlohmann/detail/iterators/iter_impl.hpp
  include/nlohmann/detail/iterators/json_reverse_iterator.hpp
  include/nlohmann/json.hpp
  include/nlohmann/json_fwd.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-comparison.cpp
Labels: documentation

#1151 Fixed compiler error in VS 2015 for debug mode
  test/CMakeLists.txt
Labels: platform: visual studio
