Repository nlohmann/json, pull requests merged in 2019-07, with the labels that each got.

#1643 Fix json.hpp compilation issue with other typedefs with same name (Issue #1642)
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression.cpp
Labels: platform: visual studio, release item: :bug: bug fix

#1670 Package Manager: MSYS2 (pacman)
  README.md
Labels: release item: :sparkles: new feature

#1673 Use GNUInstallDirs instead of hard-coded path.
  CMakeLists.txt
Labels: release item: :hammer: further change
