Repository nlohmann/json, pull requests merged in 2019-01, with the labels that each got.

#1409 buildsystem: relax requirement on cmake version
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  test/cmake_add_subdirectory/project/CMakeLists.txt
  test/cmake_import/project/CMakeLists.txt
  test/cmake_import_minver/project/CMakeLists.txt
Labels: release item: :hammer: further change

#1417 docs: typo in README
  README.md
Labels: release item: :hammer: further change

#1420 Fixed broken links in the README file
  README.md
Labels: release item: :hammer: further change

#1423 Fixed broken links in the README file
  README.md
Labels: release item: :hammer: further change

#1414 Fix x64 target platform for appveyor
  appveyor.yml
Labels: release item: :hammer: further change

#1430 Add instructions about using nlohmann/json with the conda package manager
  README.md
Labels: release item: :hammer: further change

#1435 :rotating_light: fixed unused variable warning
  include/nlohmann/detail/output/serializer.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#1434 allow push_back() and pop_back() calls on json_pointer
  include/nlohmann/detail/json_pointer.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-json_pointer.cpp
Labels: release item: :sparkles: new feature

#1446 attempt to fix #1445, flush buffer in serializer::dump_escaped in UTF8_REJECT case.
  include/nlohmann/detail/output/serializer.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression.cpp
Labels: release item: :bug: bug fix

#1455 docs: README typo
  README.md
Labels: release item: :hammer: further change

#1451 remove extra semicolon from readme
  README.md
Labels: release item: :hammer: further change
