Repository nlohmann/json, pull requests merged in 2019-02, with the labels that each got.

#1464 Disable installation when used as meson subproject. #1463
  meson.build
Labels: release item: :hammer: further change

#1468 Disable Clang -Wmismatched-tags warning on tuple_size / tuple_element
  include/nlohmann/detail/iterators/iteration_proxy.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :zap: improvement

#1477 Fix documentation
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#1474 Implement contains() member function
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-element_access2.cpp
Labels: release item: :sparkles: new feature

#1491 Fix typo in README.md
  README.md
Labels: release item: :hammer: further change
