Repository nlohmann/json, pull requests merged in 2019-10, with the labels that each got.

#1767 did you mean 'serialization'?
  README.md
Labels: release item: :hammer: further change

#1769 Make json_pointer::back const (resolves #1764)
  include/nlohmann/detail/json_pointer.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-json_pointer.cpp
Labels: release item: :zap: improvement

#1765 Allow items() to be used with custom string
  include/nlohmann/detail/iterators/iteration_proxy.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-alt-string.cpp
Labels: release item: :zap: improvement

#1779 test/CMakeLists.txt: Use an explicit list instead of GLOB
  test/CMakeLists.txt
Labels: release item: :hammer: further change

#1799 Update Hedley to v11.
  include/nlohmann/thirdparty/hedley/hedley.hpp
  include/nlohmann/thirdparty/hedley/hedley_undef.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :bug: bug fix

#1797 iteration_proxy: Fix integer truncation from std::size_t to int
  include/nlohmann/detail/iterators/iteration_proxy.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-alt-string.cpp
Labels: release item: :hammer: further change

#1803 Fix some spelling errors - mostly in comments & documentation.
  doc/examples/json_pointer__operator_add.cpp
  doc/examples/json_pointer__operator_add_binary.cpp
  include/nlohmann/detail/conversions/to_chars.hpp
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/iterators/iter_impl.hpp
  include/nlohmann/detail/json_pointer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-cbor.cpp
  test/src/unit-class_parser.cpp
  test/src/unit-msgpack.cpp
  test/src/unit-regression.cpp
  test/src/unit-udt.cpp
  test/src/unit-unicode.cpp
Labels: release item: :hammer: further change
