Repository nlohmann/json, pull requests merged in 2019-11, with the labels that each got.

#1806 Fix issue #1805
  include/nlohmann/detail/conversions/to_json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression.cpp
Labels: release item: :bug: bug fix

#1780 appveyor.yml: Add MSVC 16 2019 support
  appveyor.yml
  test/cmake_import/CMakeLists.txt
  test/cmake_import_minver/CMakeLists.txt
Labels: platform: visual studio, release item: :zap: improvement

#1694 release: add singleinclude and meson.build to include.zip
  Makefile
  README.md
Labels: release item: :hammer: further change

#1826 Add restriction for tuple specialization of to_json
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression.cpp
Labels: release item: :bug: bug fix

#1821 Fix for #1647
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression.cpp
Labels: release item: :bug: bug fix

#1436 Prevent stackoverflow caused by recursive deconstruction
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/CMakeLists.txt
  test/src/unit-large_json.cpp
Labels: release item: :bug: bug fix

#1838 Fix quadratic destruction complexity
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :bug: bug fix

#1846 Fix msvc warnings
  include/nlohmann/detail/output/binary_writer.hpp
  single_include/nlohmann/json.hpp
  test/CMakeLists.txt
Labels: release item: :zap: improvement

#1844 Update tests that generate CMake projects to use main project's C++ compiler
  test/cmake_add_subdirectory/CMakeLists.txt
  test/cmake_import/CMakeLists.txt
  test/cmake_import_minver/CMakeLists.txt
Labels: release item: :hammer: further change

#1853 README: Package in MSYS2 renamed to nlohmann-json
  README.md
Labels: release item: :hammer: further change
