Repository nlohmann/json, pull requests merged in 2019-03, with the labels that each got.

#1496 fix GCC 7.1.1 - 7.2.1 on CentOS
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :zap: improvement

#1495 Update Buckaroo instructions in README.md
  README.md
Labels: release item: :hammer: further change

#1441 Use C++11 features supported by CMake 3.1.
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  test/CMakeLists.txt
Labels: release item: :zap: improvement

#1492 Fix gcc9 build error test/src/unit-allocator.cpp (Issue #1472)
  test/src/unit-allocator.cpp
Labels: release item: :bug: bug fix

#1469 Add operator/= and operator/ to construct a JSON pointer by appending two JSON pointers
  include/nlohmann/detail/json_pointer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-json_pointer.cpp
Labels: release item: :sparkles: new feature

#1330 CMake: Optional Install if Embedded
  CMakeLists.txt
  README.md
Labels: release item: :hammer: further change

#1489 Do proper endian conversions
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-udt.cpp
Labels: release item: :bug: bug fix

#1514 Change macros to numeric_limits
  include/nlohmann/detail/conversions/to_chars.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#1551 Remove C++17 extension warning from clang; #1535
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change
