Repository nlohmann/json, pull requests merged in 2020-04, with the labels that each got.

#2008 PR for #2006 to test in AppVeyor.
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2002 fix error 'setw' is not a member of 'std' in Wandbox example
  README.md
Labels: documentation, release item: :hammer: further change

#1980 Rename argument array_index to array_indx in json_pointer methods
  include/nlohmann/detail/json_pointer.hpp
Labels: release item: :hammer: further change

#1958 appveyor.yml: Compile and test with latest version for __cplusplus ma…
  appveyor.yml
  include/nlohmann/thirdparty/hedley/hedley.hpp
  include/nlohmann/thirdparty/hedley/hedley_undef.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2025 Fixes #1971 (memory leak in basic_json::push_back)
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-allocator.cpp
Labels: release item: :bug: bug fix

#2004 Added wsjcpp.yml
  .gitignore
  README.md
  wsjcpp.yml
Labels: release item: :hammer: further change

#1984 Modify the document about operator==
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: documentation, release item: :hammer: further change

#2033 Replace deprecated std::is_pod
  include/nlohmann/detail/output/binary_writer.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2034 Templatize basic_json constructor from json_ref
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :bug: bug fix

#1990 catch exceptions for json_pointer : ..../+99
  include/nlohmann/detail/json_pointer.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-json_pointer.cpp
Labels: release item: :bug: bug fix

#1662 Add binary type support to all binary file formats, as well as an internally represented binary type
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/json_sax.hpp
  include/nlohmann/detail/iterators/internal_iterator.hpp
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/detail/output/serializer.hpp
  include/nlohmann/detail/value_t.hpp
  include/nlohmann/json.hpp
  include/nlohmann/json_fwd.hpp
  single_include/nlohmann/json.hpp
  test/data/binary_data/cbor_binary.cbor
  test/data/binary_data/cbor_binary.out
  test/src/unit-bson.cpp
  test/src/unit-cbor.cpp
  test/src/unit-class_parser.cpp
  test/src/unit-deserialization.cpp
  test/src/unit-msgpack.cpp
  test/src/unit-regression.cpp
  test/src/unit-ubjson.cpp
  test/src/unit-udt.cpp
Labels: aspect: binary formats, release item: :sparkles: new feature

#1967 Fix C26451 warnnings in to_chars.hpp
  include/nlohmann/detail/conversions/to_chars.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#1969 fix warnings in serializer.hpp for VS2019
  include/nlohmann/detail/output/serializer.hpp
  single_include/nlohmann/json.hpp
Labels: platform: visual studio, release item: :hammer: further change

#2051 Fix Clang compiler warnings
  include/nlohmann/detail/conversions/to_chars.hpp
  include/nlohmann/detail/output/serializer.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-deserialization.cpp
Labels: release item: :hammer: further change

#2053 Fix GCC compiler warnings
  include/nlohmann/detail/output/serializer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-allocator.cpp
Labels: release item: :hammer: further change

#2054 Fix bug in diff function
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression.cpp
Labels: release item: :bug: bug fix

#2043 Add missing testcase about NaN in unit-constructor1.cpp
  test/src/unit-constructor1.cpp
Labels: release item: :hammer: further change

#2060 updated wandbox link
  README.md
Labels: release item: :hammer: further change
