Repository nlohmann/json, pull requests merged in 2020-06, with the labels that each got.

#2153 Fix issue#1972
  include/nlohmann/detail/input/json_sax.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-class_parser.cpp
Labels: release item: :bug: bug fix

#2152 Update URLs to HTTPS
  README.md
Labels: documentation, release item: :hammer: further change

#2158 Fix PR#1006
  test/src/unit-alt-string.cpp
Labels: release item: :hammer: further change

#2201 Serialize floating-point numbers with 32 bit when possible (MessagePack)
  cmake/download_test_data.cmake
  doc/mkdocs/docs/features/binary_formats/messagepack.md
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-msgpack.cpp
Labels: aspect: binary formats, release item: :hammer: further change

#2202 Add option to not rely on Internet connectivity during test stage
  README.md
  cmake/download_test_data.cmake
  test/cmake_fetch_content/CMakeLists.txt
  test/cmake_fetch_content/project/CMakeLists.txt
Labels: release item: :hammer: further change

#2176 C++20 support by removing swap specialization
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-concepts.cpp
  test/src/unit-modifiers.cpp
Labels: release item: :hammer: further change

#2203 Use unsigned indizies for array index in json pointer
  include/nlohmann/detail/json_pointer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-json_pointer.cpp
Labels: release item: :hammer: further change

#2181 Fix issue#1275
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2222 Enable CMake policy CMP0077
  CMakeLists.txt
Labels: release item: :hammer: further change

#2212 Add option to ignore comments in parse/accept functions
  README.md
  include/nlohmann/detail/input/lexer.hpp
  include/nlohmann/detail/input/parser.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-class_lexer.cpp
  test/src/unit-class_parser.cpp
Labels: release item: :sparkles: new feature
