Repository nlohmann/json, pull requests merged in 2020-07, with the labels that each got.

#2253 Add pkg-config file
  CMakeLists.txt
  README.md
  cmake/pkg-config.pc.in
Labels: release item: :hammer: further change

#2259 Make library work with Clang on Windows
  .github/workflows/windows_clang.yml
  include/nlohmann/adl_serializer.hpp
  include/nlohmann/detail/boolean_operators.hpp
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_chars.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/input_adapters.hpp
  include/nlohmann/detail/input/json_sax.hpp
  include/nlohmann/detail/input/lexer.hpp
  include/nlohmann/detail/input/parser.hpp
  include/nlohmann/detail/iterators/iter_impl.hpp
  include/nlohmann/detail/iterators/iteration_proxy.hpp
  include/nlohmann/detail/iterators/iterator_traits.hpp
  include/nlohmann/detail/json_pointer.hpp
  include/nlohmann/detail/meta/cpp_future.hpp
  include/nlohmann/detail/meta/detected.hpp
  include/nlohmann/detail/meta/is_sax.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/detail/meta/void_t.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/detail/output/serializer.hpp
  include/nlohmann/detail/value_t.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-algorithms.cpp
  test/src/unit-assert_macro.cpp
  test/src/unit-bson.cpp
  test/src/unit-cbor.cpp
  test/src/unit-class_const_iterator.cpp
  test/src/unit-class_iterator.cpp
  test/src/unit-class_parser.cpp
  test/src/unit-comparison.cpp
  test/src/unit-constructor1.cpp
  test/src/unit-conversions.cpp
  test/src/unit-deserialization.cpp
  test/src/unit-element_access2.cpp
  test/src/unit-inspection.cpp
  test/src/unit-iterators1.cpp
  test/src/unit-iterators2.cpp
  test/src/unit-json_pointer.cpp
  test/src/unit-modifiers.cpp
  test/src/unit-msgpack.cpp
  test/src/unit-noexcept.cpp
  test/src/unit-regression.cpp
  test/src/unit-testsuites.cpp
  test/src/unit-ubjson.cpp
  test/src/unit-udt.cpp
  test/src/unit-unicode.cpp
Labels: release item: :zap: improvement

#2258 Add ordered_json specialization with ordered object keys
  README.md
  include/nlohmann/json.hpp
  include/nlohmann/json_fwd.hpp
  include/nlohmann/ordered_map.hpp
  single_include/nlohmann/json.hpp
  test/CMakeLists.txt
  test/src/unit-ordered_json.cpp
Labels: release item: :sparkles: new feature

#2262 Add Xcode 12 CI
  .travis.yml
  README.md
Labels: release item: :hammer: further change

#2264 Makefile: Always use SED variable
  Makefile
Labels: release item: :hammer: further change

#2268 Add ClangCL for MSVC
  .github/workflows/windows_clang_cl.yml
  README.md
Labels: release item: :hammer: further change

#2269 Hash function without allocation
  include/nlohmann/detail/hash.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/CMakeLists.txt
  test/Makefile
  test/src/unit-hash.cpp
Labels: release item: :zap: improvement

#2273 Add option to ignore CBOR tags
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-cbor.cpp
Labels: release item: :sparkles: new feature

#2274 Clean up maintainer Makefiles and fix some linter warnings
  Makefile
  include/nlohmann/detail/input/input_adapters.hpp
  include/nlohmann/detail/input/json_sax.hpp
  include/nlohmann/detail/input/lexer.hpp
  single_include/nlohmann/json.hpp
  test/Makefile
Labels: release item: :hammer: further change

#2244 Tag binary values in cbor if set
  include/nlohmann/detail/output/binary_writer.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-cbor.cpp
Labels: aspect: binary formats, release item: :hammer: further change

#2279 Add test for target_include_directories
  test/CMakeLists.txt
  test/cmake_target_include_directories/CMakeLists.txt
  test/cmake_target_include_directories/project/CMakeLists.txt
  test/cmake_target_include_directories/project/main.cpp
Labels: release item: :hammer: further change

#2285 add inline specifier for detail::combine
  include/nlohmann/detail/hash.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :bug: bug fix

#2282 Add static assertion for missing binary function in SAX interface
  include/nlohmann/detail/meta/is_sax.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2294 fix eof for get_binary and get_string
  include/nlohmann/detail/input/binary_reader.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression.cpp
Labels: aspect: binary formats, release item: :bug: bug fix

#2300 Merge Gitlab actions
  .github/workflows/windows.yml
  .github/workflows/windows_clang.yml
  .github/workflows/windows_clang_cl.yml
Labels: release item: :hammer: further change

#2299 Fix unused parameter
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-cbor.cpp
Labels: release item: :bug: bug fix

#1559 Feat/explicit conversion operator
  .travis.yml
  CMakeLists.txt
  appveyor.yml
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/macro_unscope.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-cbor.cpp
  test/src/unit-constructor1.cpp
  test/src/unit-conversions.cpp
  test/src/unit-readme.cpp
  test/src/unit-regression.cpp
  test/src/unit-udt.cpp
  test/src/unit-udt_macro.cpp
  test/src/unit-unicode.cpp
Labels: release item: :sparkles: new feature

#2301 Add test with multiple translation units
  test/cmake_target_include_directories/project/Bar.cpp
  test/cmake_target_include_directories/project/Bar.hpp
  test/cmake_target_include_directories/project/CMakeLists.txt
  test/cmake_target_include_directories/project/Foo.cpp
  test/cmake_target_include_directories/project/Foo.hpp
Labels: release item: :hammer: further change

#2303 Cleanup
  .gitignore
  CMakeLists.txt
  Makefile
  README.md
  doc/mkdocs/docs/features/arbitrary_types.md
  doc/mkdocs/docs/features/macros.md
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
  test/CMakeLists.txt
  test/src/unit-bson.cpp
  test/src/unit-cbor.cpp
  test/src/unit-conversions.cpp
  test/src/unit-msgpack.cpp
  test/src/unit-regression.cpp
  test/src/unit-ubjson.cpp
  test/utils/test_utils.hpp
Labels: release item: :hammer: further change

#2306 added inline to NLOHMANN_DEFINE_TYPE_NON_INTRUSIVE macro
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2308 Fix bug in CBOR tag handling
  include/nlohmann/detail/input/binary_reader.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-cbor.cpp
Labels: aspect: binary formats, release item: :bug: bug fix

#2297 Add support for high-precision numbers in UBJSON encoding
  doc/mkdocs/docs/features/binary_formats/ubjson.md
  doc/mkdocs/docs/home/exceptions.md
  include/nlohmann/detail/exceptions.hpp
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-ubjson.cpp
Labels: aspect: binary formats, release item: :zap: improvement

#2305 fixes unused variable 'ex' for #2304
  include/nlohmann/detail/input/json_sax.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2312 Update documentation
  doc/Makefile
  doc/examples/meta.output
  doc/mkdocs/docs/api/basic_json/dump.md
  doc/mkdocs/docs/api/basic_json/index.md
  doc/mkdocs/docs/api/basic_json/meta.md
  doc/mkdocs/docs/features/binary_formats/cbor.md
  doc/mkdocs/docs/features/binary_values.md
  doc/mkdocs/docs/features/comments.md
  doc/mkdocs/docs/features/element_access/checked_access.md
  doc/mkdocs/docs/features/element_access/default_value.md
  doc/mkdocs/docs/features/element_access/index.md
  doc/mkdocs/docs/features/element_access/unchecked_access.md
  doc/mkdocs/docs/features/macros.md
  doc/mkdocs/docs/features/object_order.md
  doc/mkdocs/docs/features/parsing/sax_interface.md
  doc/mkdocs/docs/home/faq.md
  doc/mkdocs/docs/home/license.md
  doc/mkdocs/mkdocs.yml
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-meta.cpp
Labels: release item: :hammer: further change

#2314 Fixed installation of pkg-config file on other than Ubuntu
  CMakeLists.txt
Labels: release item: :hammer: further change

#2318 cmake: install pkg-config file relative to current_binary_dir
  CMakeLists.txt
Labels: release item: :hammer: further change

#2320 fix typo
  README.md
Labels: documentation, release item: :hammer: further change

#2319 Fix a bug due to missing overloads in ordered_map container
  include/nlohmann/ordered_map.hpp
  single_include/nlohmann/json.hpp
  test/CMakeLists.txt
  test/src/unit-ordered_map.cpp
  test/src/unit-regression1.cpp
  test/src/unit-regression2.cpp
Labels: release item: :bug: bug fix

#2327 Fix name of Homebrew formula in documentation
  doc/mkdocs/docs/integration/package_managers.md
Labels: documentation, release item: :hammer: further change
