Repository nlohmann/json, pull requests merged in 2020-08, with the labels that each got.

#2332 Fix lexer to properly cope with repeated comments
  include/nlohmann/detail/input/lexer.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-class_lexer.cpp
  test/src/unit-regression2.cpp
Labels: release item: :bug: bug fix

#2333 Fix fallthrough warning
  include/nlohmann/detail/input/lexer.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2347 Fix code to work without exceptions
  .github/workflows/ubuntu.yml
  include/nlohmann/ordered_map.hpp
  single_include/nlohmann/json.hpp
  test/cmake_add_subdirectory/project/CMakeLists.txt
Labels: release item: :bug: bug fix

#2349 Remove -Wimplicit-fallthrough warning
  include/nlohmann/detail/hash.hpp
  include/nlohmann/detail/input/binary_reader.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2352 Remove "#define private public" from tests
  Makefile
  include/nlohmann/detail/iterators/iter_impl.hpp
  include/nlohmann/detail/iterators/primitive_iterator.hpp
  include/nlohmann/detail/json_pointer.hpp
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/macro_unscope.hpp
  include/nlohmann/detail/output/serializer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-allocator.cpp
  test/src/unit-class_const_iterator.cpp
  test/src/unit-class_iterator.cpp
  test/src/unit-class_lexer.cpp
  test/src/unit-class_parser.cpp
  test/src/unit-constructor1.cpp
  test/src/unit-convenience.cpp
  test/src/unit-conversions.cpp
  test/src/unit-iterators1.cpp
  test/src/unit-json_pointer.cpp
  test/src/unit-regression1.cpp
  test/src/unit-regression2.cpp
  test/src/unit-unicode.cpp
Labels: release item: :hammer: further change

#2354 Fix typos in documentation
  doc/mkdocs/docs/features/element_access/checked_access.md
  doc/mkdocs/docs/features/element_access/unchecked_access.md
Labels: documentation, release item: :hammer: further change

#2363 Fix and extend documentation of discarded values
  doc/examples/parse__allow_exceptions.cpp
  doc/examples/parse__allow_exceptions.link
  doc/examples/parse__allow_exceptions.output
  doc/mkdocs/docs/api/basic_json/exception.md
  doc/mkdocs/docs/api/basic_json/from_bson.md
  doc/mkdocs/docs/api/basic_json/from_cbor.md
  doc/mkdocs/docs/api/basic_json/from_msgpack.md
  doc/mkdocs/docs/api/basic_json/from_ubjson.md
  doc/mkdocs/docs/api/basic_json/invalid_iterator.md
  doc/mkdocs/docs/api/basic_json/is_discarded.md
  doc/mkdocs/docs/api/basic_json/operator_eq.md
  doc/mkdocs/docs/api/basic_json/other_error.md
  doc/mkdocs/docs/api/basic_json/out_of_range.md
  doc/mkdocs/docs/api/basic_json/parse.md
  doc/mkdocs/docs/api/basic_json/parse_error.md
  doc/mkdocs/docs/api/basic_json/type_error.md
Labels: release item: :hammer: further change

#2367 Update Hedley
  include/nlohmann/thirdparty/hedley/hedley.hpp
  include/nlohmann/thirdparty/hedley/hedley_undef.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change
