Repository nlohmann/json, pull requests merged in 2020-12, with the labels that each got.

#2444 Change argument name "subtype" in byte_container_with_subtype
  include/nlohmann/byte_container_with_subtype.hpp
Labels: release item: :hammer: further change

#2406 📝 add CPM.Cmake example
  README.md
Labels: release item: :hammer: further change

#2525 Doctest is updated to v2.4.1
  test/thirdparty/doctest/LICENSE.txt
  test/thirdparty/doctest/doctest.h
Labels: release item: :hammer: further change

#2536 Fix a shadowing warning
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2534 Clarify license of is_complete_type implementation
  include/nlohmann/detail/meta/type_traits.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2533 Do not unconditionally redefine C++14 constructs
  include/nlohmann/detail/meta/cpp_future.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2537 Fix warnings
  test/src/unit-bson.cpp
  test/src/unit-cbor.cpp
  test/src/unit-class_parser.cpp
  test/src/unit-deserialization.cpp
  test/src/unit-ubjson.cpp
  test/src/unit-unicode.cpp
  test/thirdparty/doctest/doctest.h
Labels: release item: :hammer: further change

#2538 Doctest is updated to v2.4.3
  test/thirdparty/doctest/doctest.h
Labels: release item: :hammer: further change

#2540 Travis doesn't run any tests in C++17 mode
  .travis.yml
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-conversions.cpp
Labels: release item: :bug: bug fix

#2553 Fix compilation of input_adapter(container) in edge cases
  include/nlohmann/detail/input/input_adapters.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-user_defined_input.cpp
Labels: release item: :zap: improvement

#2550 Allow parsing from std::byte containers
  .github/workflows/ubuntu.yml
  Makefile
  include/nlohmann/detail/input/input_adapters.hpp
  include/nlohmann/detail/input/lexer.hpp
  include/nlohmann/detail/iterators/iter_impl.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-class_parser.cpp
  test/src/unit-conversions.cpp
  test/src/unit-items.cpp
  test/src/unit-regression1.cpp
  test/src/unit-regression2.cpp
  test/src/unit-udt.cpp
  test/src/unit-udt_macro.cpp
Labels: release item: :zap: improvement

#2560 Add switch to skip non-reproducible tests.
  README.md
  test/cmake_add_subdirectory/CMakeLists.txt
  test/cmake_fetch_content/CMakeLists.txt
  test/cmake_import/CMakeLists.txt
  test/cmake_import_minver/CMakeLists.txt
  test/cmake_target_include_directories/CMakeLists.txt
Labels: release item: :hammer: further change
