Repository nlohmann/json, pull requests merged in 2020-05, with the labels that each got.

#2074 Add CMake fetchcontent documentation and tests
  README.md
  test/CMakeLists.txt
  test/cmake_fetch_content/CMakeLists.txt
  test/cmake_fetch_content/project/CMakeLists.txt
  test/cmake_fetch_content/project/main.cpp
Labels: documentation, release item: :hammer: further change

#2076 Fix error message about invalid surrogate pairs
  include/nlohmann/detail/input/lexer.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-class_parser.cpp
  test/src/unit-unicode.cpp
Labels: release item: :hammer: further change

#2077 Fix README.md. Missing ```
  README.md
Labels: release item: :hammer: further change

#2019 fix #1982:json_pointer.contains() exception is incorrectly raised
  include/nlohmann/detail/json_pointer.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-json_pointer.cpp
Labels: release item: :bug: bug fix

#2100 Fix Coveralls integration
  .travis.yml
Labels: release item: :hammer: further change

#2099 Add tests for binary values
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/json_sax.hpp
  include/nlohmann/detail/output/serializer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-bson.cpp
  test/src/unit-cbor.cpp
  test/src/unit-comparison.cpp
  test/src/unit-constructor1.cpp
  test/src/unit-constructor2.cpp
  test/src/unit-convenience.cpp
  test/src/unit-element_access1.cpp
  test/src/unit-inspection.cpp
  test/src/unit-modifiers.cpp
  test/src/unit-msgpack.cpp
  test/src/unit-pointer_access.cpp
  test/src/unit-serialization.cpp
Labels: aspect: binary formats

#2044 Fix issue#1719
  cmake/download_test_data.cmake
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-cbor.cpp
Labels: aspect: binary formats, release item: :zap: improvement

#2115 Do not include <ciso646> when using C++17
  include/nlohmann/detail/boolean_operators.hpp
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_chars.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/iterators/iter_impl.hpp
  include/nlohmann/detail/meta/cpp_future.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/detail/output/serializer.hpp
  include/nlohmann/detail/value_t.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2116 Fix warnings from Clang 10 and GCC 9
  Makefile
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-cbor.cpp
  test/src/unit-noexcept.cpp
  test/src/unit-udt.cpp
  test/thirdparty/doctest/doctest.h
Labels: release item: :hammer: further change

#2119 Overwork CI
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
  README.md
  cmake/download_test_data.cmake
Labels: release item: :hammer: further change

#2121 Fixed a compilation error in MSVC
  include/nlohmann/detail/output/binary_writer.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-cbor.cpp
Labels: platform: visual studio, release item: :hammer: further change

#2104 Fix issue#2086: disallow json::value_t type parameter in value()
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2137 Fix issue 2112
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2143 Fix issue#2142: readme: fix typo in CMake FetchContent example
  README.md
Labels: documentation, release item: :hammer: further change

#2140 Respect allow_exceptions=false for binary formats
  include/nlohmann/detail/input/input_adapters.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression.cpp
Labels: aspect: binary formats, release item: :bug: bug fix

#2144 Fix issue#1939: Cast character to unsigned for comparison
  include/nlohmann/detail/input/lexer.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change
