Repository nlohmann/json, pull requests merged in 2021-08, with the labels that each got.

#2911 Supress -Wfloat-equal on intended float comparisions
  include/nlohmann/detail/conversions/to_chars.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-cbor.cpp
  test/src/unit-constructor1.cpp
  test/src/unit-readme.cpp
  test/src/unit-reference_access.cpp
  test/src/unit-regression1.cpp
  test/src/unit-regression2.cpp
Labels: release item: :hammer: further change

#2925 Guard GCC pragmas
  include/nlohmann/detail/conversions/to_chars.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :bug: bug fix

#2927 All: fix warnings when compiling with -Wswitch-enum
  cmake/ci.cmake
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/exceptions.hpp
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/parser.hpp
  include/nlohmann/detail/iterators/iter_impl.hpp
  include/nlohmann/detail/iterators/iteration_proxy.hpp
  include/nlohmann/detail/json_pointer.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2930 Treat MSVC warnings as errors
  .github/workflows/windows.yml
  appveyor.yml
  test/src/unit-allocator.cpp
  test/src/unit-deserialization.cpp
  test/src/unit-udt.cpp
Labels: release item: :hammer: further change

#2908 Fix binary subtypes
  .github/workflows/windows.yml
  doc/mkdocs/docs/api/basic_json/binary_t.md
  doc/mkdocs/docs/api/basic_json/cbor_tag_handler_t.md
  doc/mkdocs/docs/features/binary_formats/cbor.md
  doc/mkdocs/docs/features/binary_formats/index.md
  doc/mkdocs/docs/features/binary_values.md
  include/nlohmann/byte_container_with_subtype.hpp
  include/nlohmann/detail/hash.hpp
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/parser.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/detail/output/serializer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-byte_container_with_subtype.cpp
  test/src/unit-cbor.cpp
Labels: aspect: binary formats, release item: :bug: bug fix

#2936 Overwork warning flags
  cmake/ci.cmake
  doc/mkdocs/docs/api/basic_json/binary_t.md
  doc/mkdocs/docs/api/basic_json/cbor_tag_handler_t.md
  include/nlohmann/byte_container_with_subtype.hpp
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/macro_unscope.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-assert_macro.cpp
  test/src/unit-conversions.cpp
  test/src/unit-disabled_exceptions.cpp
  test/src/unit-items.cpp
  test/src/unit-json_pointer.cpp
  test/src/unit-noexcept.cpp
  test/src/unit-readme.cpp
  test/src/unit-regression2.cpp
  test/src/unit-udt.cpp
  test/src/unit-unicode2.cpp
  test/src/unit-unicode3.cpp
  test/src/unit-unicode4.cpp
  test/src/unit-unicode5.cpp
Labels: release item: :hammer: further change

#2952 Avoid duplicate AppVeyor builds
  appveyor.yml
Labels: release item: :hammer: further change

#2945 Remove outdated json_unit test binary
  test/CMakeLists.txt
Labels: release item: :hammer: further change

#2947 Skip some tests if JSON_Install is not set
  test/CMakeLists.txt
Labels: release item: :hammer: further change

#2948 Add header to use value_t
  include/nlohmann/detail/hash.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2950 🚨 fix gdb_pretty_printer failure on basic types
  third_party/gdb_pretty_printer/nlohmann-json.py
Labels: release item: :hammer: further change

#2954 Add documentation for integration via vcpkg
  README.md
  doc/mkdocs/docs/integration/package_managers.md
  doc/mkdocs/docs/integration/vcpkg/CMakeLists.txt
  doc/mkdocs/docs/integration/vcpkg/example.cpp
Labels: release item: :hammer: further change

#2943 Updating the Homebrew Command
  README.md
  doc/mkdocs/docs/integration/package_managers.md
Labels: release item: :hammer: further change

#2957 Fix some extra ";" clang warnings
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  single_include/nlohmann/json.hpp
  test/thirdparty/Fuzzer/FuzzerDriver.cpp
Labels: release item: :hammer: further change

#2959 Update Travis badge
  README.md
Labels: release item: :hammer: further change

#2960 Add regression test
  test/src/unit-regression2.cpp
Labels: release item: :hammer: further change

#2961 Set stack size for some unit tests when using MSVC
  .github/workflows/windows.yml
  appveyor.yml
  test/CMakeLists.txt
Labels: release item: :hammer: further change

#2963 Fix parent update for diagnostics with ordered_json
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-diagnostics.cpp
Labels: release item: :bug: bug fix

#2966 Add link to Homebrew package
  README.md
  doc/mkdocs/docs/integration/package_managers.md
Labels: release item: :hammer: further change

#2968 Fixed typo in docs/api/basic_json/parse.md
  doc/mkdocs/docs/api/basic_json/parse.md
Labels: release item: :hammer: further change

#2981 Use new Docker image
  .clang-tidy
  .github/workflows/ubuntu.yml
  README.md
  cmake/ci.cmake
Labels: release item: :hammer: further change

#2986 Re-add Clang 12
  .github/workflows/ubuntu.yml
Labels: release item: :hammer: further change
