Repository nlohmann/json, pull requests merged in 2021-04, with the labels that each got.

#2707 Update json.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2737 Use Clang 12 in CI
  .github/workflows/ubuntu.yml
  README.md
  cmake/ci.cmake
Labels: release item: :hammer: further change

#2576 Add support for deserialization of STL containers of non-default constructable types (fixes #2574).
  include/nlohmann/adl_serializer.hpp
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/meta/identity_tag.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression2.cpp
Labels: release item: :bug: bug fix

#2747 Add documentation for numbers
  .github/CONTRIBUTING.md
  doc/images/json_syntax_number.png
  doc/mkdocs/Makefile
  doc/mkdocs/docs/api/basic_json/array_t.md
  doc/mkdocs/docs/api/basic_json/boolean_t.md
  doc/mkdocs/docs/api/basic_json/number_float_t.md
  doc/mkdocs/docs/api/basic_json/number_integer_t.md
  doc/mkdocs/docs/api/basic_json/number_unsigned_t.md
  doc/mkdocs/docs/api/basic_json/object_t.md
  doc/mkdocs/docs/api/basic_json/string_t.md
  doc/mkdocs/docs/features/iterators.md
  doc/mkdocs/docs/features/types/index.md
  doc/mkdocs/docs/features/types/number_handling.md
  doc/mkdocs/docs/home/releases.md
  doc/mkdocs/mkdocs.yml
  include/nlohmann/detail/input/lexer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-class_parser.cpp
  test/src/unit-testsuites.cpp
Labels: documentation

#2731 Fixes #2730
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2749 Update documentation
  doc/mkdocs/docs/features/macros.md
  include/nlohmann/detail/macro_unscope.hpp
  single_include/nlohmann/json.hpp
Labels: documentation
