Repository nlohmann/json, pull requests merged in 2021-11, with the labels that each got.

#3069 Add recursive update function
  doc/examples/update.cpp
  doc/examples/update.output
  doc/examples/update__range.cpp
  doc/examples/update__range.output
  doc/mkdocs/docs/api/basic_json/update.md
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-diagnostics.cpp
  test/src/unit-modifiers.cpp
Labels: release item: :sparkles: new feature

#3121 Extend std specializations
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-hash.cpp
Labels: release item: :zap: improvement

#3125 Fix spelling
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/input_adapters.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#3109 Add missing erase(first, last) function to ordered_map
  include/nlohmann/ordered_map.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-ordered_map.cpp
  test/src/unit-regression2.cpp
Labels: release item: :bug: bug fix

#3140 fix typos in documentation
  doc/mkdocs/docs/api/basic_json/binary_t.md
  doc/mkdocs/docs/api/basic_json/erase.md
  doc/mkdocs/docs/api/basic_json/insert.md
  doc/mkdocs/docs/api/basic_json/items.md
  doc/mkdocs/docs/api/basic_json/update.md
  doc/mkdocs/docs/api/basic_json/value.md
  doc/mkdocs/docs/features/binary_values.md
  doc/mkdocs/docs/features/iterators.md
  doc/mkdocs/docs/features/types/number_handling.md
  doc/mkdocs/docs/home/exceptions.md
  doc/mkdocs/docs/home/releases.md
  test/src/unit-regression2.cpp
Labels: release item: :hammer: further change

#3145 Docs: Update `skip_comments` to `ignore_comments`
  doc/mkdocs/docs/features/comments.md
Labels: release item: :hammer: further change

#3148 Fix FAQ hyperlink typo in readme
  README.md
Labels: release item: :hammer: further change
