Repository nlohmann/json, pull requests merged in 2021-07, with the labels that each got.

#2861 Update documentation
  cmake/ci.cmake
  doc/mkdocs/docs/features/macros.md
  doc/mkdocs/docs/features/types/number_handling.md
Labels: documentation, release item: :hammer: further change

#2795 Specified git branch for google benchmark fetch in benchmark test
  benchmarks/CMakeLists.txt
Labels: release item: :hammer: further change

#2866 Fix assertion failure in diagnostics
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-diagnostics.cpp
Labels: release item: :bug: bug fix

#2872 Fix memory leak in to_json
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression2.cpp
Labels: release item: :bug: bug fix

#2874 Fix truncation warning
  include/nlohmann/detail/output/serializer.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :bug: bug fix

#2875 Suppress C4127 warning in unit-json_pointer.cpp
  test/src/unit-json_pointer.cpp
Labels: release item: :hammer: further change

#2762 Add a cmake option to use SYSTEM in target_include_directories
  CMakeLists.txt
Labels: release item: :hammer: further change

#2879 Avoid string in case of empty CBOR objects
  include/nlohmann/detail/input/binary_reader.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#2889 Refactor Unicode tests
  test/src/unit-unicode.cpp
  test/src/unit-unicode1.cpp
  test/src/unit-unicode2.cpp
  test/src/unit-unicode3.cpp
  test/src/unit-unicode4.cpp
  test/src/unit-unicode5.cpp
Labels: release item: :hammer: further change

#2885 CMake cleanup
  CMakeLists.txt
  Makefile
  cmake/ci.cmake
  doc/docset/docSet.sql
  doc/mkdocs/docs/features/parsing/parse_exceptions.md
  doc/mkdocs/docs/integration/cmake.md
  test/CMakeLists.txt
Labels: release item: :hammer: further change

#2825 Properly constrain the basic_json conversion operator
  include/nlohmann/detail/meta/detected.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression2.cpp
Labels: release item: :bug: bug fix

#2902 Fix useless-cast warnings
  cmake/ci.cmake
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-class_parser.cpp
Labels: release item: :hammer: further change
