Repository nlohmann/json, pull requests merged in 2021-09, with the labels that each got.

#2967 Update docset generation script
  .gitignore
  README.md
  doc/Doxyfile
  doc/Makefile
  doc/docset/Makefile
  doc/docset/README.md
  doc/docset/docset.json
  doc/docset/icon.png
  doc/docset/icon@2x.png
  doc/mkdocs/docs/integration/package_managers.md
Labels: release item: :hammer: further change

#3008 Set parent pointers for values inserted via update() (fixes #3007).
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-diagnostics.cpp
Labels: release item: :bug: bug fix

#2989 Allow allocators for output_vector_adapter
  include/nlohmann/detail/output/output_adapters.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression2.cpp
Labels: aspect: binary formats, release item: :zap: improvement

#3040 Fix Clang version
  README.md
Labels: release item: :hammer: further change
