Repository nlohmann/json, pull requests merged in 2022-07, with the labels that each got.

#3564 Add overloads for more key types to ordered_map and fix ordered_map::erase(first, last) with first == last
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/json.hpp
  include/nlohmann/ordered_map.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-element_access2.cpp
Labels: release item: :hammer: further change

#3569 Optimize output vector adapter write
  include/nlohmann/detail/output/output_adapters.hpp
  single_include/nlohmann/json.hpp
  tests/benchmarks/src/benchmarks.cpp
Labels: aspect: binary formats, release item: :zap: improvement

#3580 Enable overriding test properties and set Unicode test timeouts
  cmake/test.cmake
  tests/CMakeLists.txt
Labels: release item: :hammer: further change

#3572 Ignore output directory
  .gitignore
Labels: release item: :hammer: further change

#3557 Make certain usage patterns more prominent in the README
  README.md
Labels: documentation, release item: :hammer: further change

#3585 Add error message if test suite cannot be found
  README.md
  tests/src/make_test_data_available.hpp
  tests/src/unit-binary_formats.cpp
  tests/src/unit-bjdata.cpp
  tests/src/unit-bson.cpp
  tests/src/unit-cbor.cpp
  tests/src/unit-inspection.cpp
  tests/src/unit-json_patch.cpp
  tests/src/unit-msgpack.cpp
  tests/src/unit-regression1.cpp
  tests/src/unit-testsuites.cpp
  tests/src/unit-ubjson.cpp
  tests/src/unit-unicode1.cpp
  tests/src/unit-unicode2.cpp
  tests/src/unit-unicode3.cpp
  tests/src/unit-unicode4.cpp
  tests/src/unit-unicode5.cpp
Labels: release item: :hammer: further change

#3596 Clean up after #3581
  docs/docset/docSet.sql
  docs/mkdocs/docs/api/basic_json/index.md
  docs/mkdocs/docs/api/basic_json/patch_inplace.md
  docs/mkdocs/mkdocs.yml
Labels: release item: :hammer: further change

#3593 Add assertion if nullptr is passed to parse function
  docs/mkdocs/docs/api/basic_json/accept.md
  docs/mkdocs/docs/api/basic_json/parse.md
  docs/mkdocs/docs/features/assertions.md
  include/nlohmann/detail/input/input_adapters.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#3548 Add unit test to make sure iterator_input_adapter advances iterators correctly
  tests/src/unit-deserialization.cpp
Labels: release item: :hammer: further change

#3599 Add documentation for comparing json and ordered_json
  docs/examples/operator__equal__specializations.cpp
  docs/examples/operator__equal__specializations.output
  docs/mkdocs/docs/api/basic_json/operator_eq.md
Labels: release item: :hammer: further change

#3614 Fix Unicode test timeout (for real this time!)
  tests/CMakeLists.txt
Labels: release item: :hammer: further change

#3610 Use 'concurrency' in GitHub workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
Labels: release item: :hammer: further change

#3609 Use swap() by ADL
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-modifiers.cpp
Labels: release item: :zap: improvement

#3604 Re-add value_type detection to distinguish string types
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :bug: bug fix

#3618 Fix MinGW CI failures
  .github/workflows/windows.yml
Labels: release item: :hammer: further change

#3619 build: install .pc and .cmake files to share/
  CMakeLists.txt
Labels: release item: :hammer: further change

#3622 Adjust JSON Pointer examples
  .github/workflows/ubuntu.yml
  cmake/ci.cmake
  docs/Makefile
  docs/examples/json_pointer__back.cpp
  docs/examples/json_pointer__back.output
  docs/examples/json_pointer__empty.cpp
  docs/examples/json_pointer__operator_add.cpp
  docs/examples/json_pointer__operator_add_binary.cpp
  docs/examples/json_pointer__parent_pointer.cpp
  docs/examples/json_pointer__pop_back.cpp
  docs/examples/json_pointer__push_back.cpp
  docs/examples/json_pointer__to_string.cpp
  docs/examples/json_pointer__to_string.output
  docs/examples/patch_inplace.cpp
  docs/mkdocs/docs/api/basic_json/basic_json.md
  docs/mkdocs/docs/api/basic_json/max_size.md
  docs/mkdocs/docs/api/basic_json/meta.md
  docs/mkdocs/docs/api/basic_json/std_hash.md
Labels: documentation, release item: :hammer: further change

#3628 Fix patch::add creating nonexistent parents
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-json_patch.cpp
Labels: release item: :bug: bug fix

#3621 Disable exceptions on ICPC
  tests/CMakeLists.txt
Labels: release item: :hammer: further change

#3629 Add regression tests for #3204 and #3333
  .clang-tidy
  tests/src/unit-regression2.cpp
Labels: release item: :bug: bug fix

#3631 Add a unit test including windows.h
  tests/src/unit-windows_h.cpp
Labels: release item: :hammer: further change

#3633 Add license header to new files
  Makefile
  include/nlohmann/detail/abi_macros.hpp
  include/nlohmann/detail/meta/std_fs.hpp
  single_include/nlohmann/json.hpp
  tests/abi/diag/diag.cpp
  tests/abi/diag/diag.hpp
  tests/abi/diag/diag_off.cpp
  tests/abi/diag/diag_on.cpp
  tests/abi/inline_ns/use_current.cpp
  tests/abi/inline_ns/use_v3_10_5.cpp
  tests/src/make_test_data_available.hpp
Labels: release item: :hammer: further change

#3634 Fix warning
  tests/src/unit-alt-string.cpp
Labels: release item: :bug: bug fix

#3635 Prepare 3.11.0 release
  Makefile
  docs/index.md
  tests/abi/main.cpp
  tests/cmake_add_subdirectory/project/main.cpp
  tests/cmake_fetch_content/project/main.cpp
  tests/cmake_fetch_content2/project/main.cpp
  tests/cmake_import/project/main.cpp
  tests/cmake_import_minver/project/main.cpp
  tests/cmake_target_include_directories/project/Bar.cpp
  tests/cmake_target_include_directories/project/Bar.hpp
  tests/cmake_target_include_directories/project/Foo.cpp
  tests/cmake_target_include_directories/project/Foo.hpp
  tests/cmake_target_include_directories/project/main.cpp
  tests/cuda_example/json_cuda.cu
Labels: release item: :hammer: further change
