Repository nlohmann/json, pull requests merged in 2022-01, with the labels that each got.

#3234 Fix compilation error with NVCC
  include/nlohmann/ordered_map.hpp
  single_include/nlohmann/json.hpp
  test/cuda_example/json_cuda.cu
Labels: release item: :bug: bug fix, review needed

#3240 fix _MSC_VER version to check for std::filesystem
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#3244 Remove stringstream
  include/nlohmann/detail/output/serializer.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#3246 Improve documentation InputType and IteratorType
  doc/mkdocs/docs/api/basic_json/accept.md
  doc/mkdocs/docs/api/basic_json/parse.md
Labels: release item: :hammer: further change

#3247 Add documentation for JSON Lines
  doc/examples/json_lines.cpp
  doc/examples/json_lines.output
  doc/mkdocs/docs/features/parsing/json_lines.md
  doc/mkdocs/mkdocs.yml
  test/src/unit-deserialization.cpp
Labels: documentation, release item: :hammer: further change

#3249 Fix typo
  doc/mkdocs/docs/api/basic_json/is_discarded.md
Labels: release item: :hammer: further change

#3265 Fix a typo
  doc/mkdocs/docs/features/macros.md
Labels: documentation, release item: :hammer: further change

#3289 Add maintainer targets to create source archive
  Makefile
Labels: release item: :hammer: further change

#3295 .github/workflows/windows.yml: Add support for Visual Studio 2022
  .github/workflows/windows.yml
  README.md
Labels: release item: :hammer: further change

#3143 Add macros NLOHMANN_DEFINE_TYPE_INTRUSIVE_WITH_DEFAULT and ..._NON_INTRUSIVE_WITH_DEFAULT
  doc/mkdocs/docs/features/arbitrary_types.md
  doc/mkdocs/docs/features/macros.md
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-udt_macro.cpp
Labels: release item: :zap: improvement
