Repository nlohmann/json, pull requests merged in 2022-04, with the labels that each got.

#3405 Refactor unit tests to use more convenient doctest assertion macros (Part 2)
  test/src/unit-regression1.cpp
Labels: release item: :hammer: further change

#3338 Avoid clash with Arduino defines
  include/nlohmann/detail/meta/type_traits.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#3416 CI: windows-2016 has been deprecated; remove jobs
  .github/workflows/windows.yml
  README.md
Labels: release item: :hammer: further change

#3421 Restore disabled check for #3070 (except on MSVC)
  include/nlohmann/detail/conversions/from_json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression2.cpp
Labels: release item: :hammer: further change

#3422 CI: speedup AppVeyor builds by ~30%
  appveyor.yml
Labels: release item: :hammer: further change

#3418 Add check if different version is also included
  doc/mkdocs/docs/features/macros.md
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  third_party/amalgamate/amalgamate.py
Labels: release item: :hammer: further change

#3426 at.md: fix typo
  doc/mkdocs/docs/api/basic_json/at.md
Labels: release item: :hammer: further change

#3431 Document which version introduced the macros
  doc/mkdocs/docs/api/macros/index.md
  doc/mkdocs/docs/features/macros.md
Labels: release item: :hammer: further change

#3437 Exclude std::any from implicit conversion (fixes #3428)
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression2.cpp
Labels: release item: :bug: bug fix

#3415 Re-template json_pointer on string type
  doc/mkdocs/docs/api/json_pointer/back.md
  doc/mkdocs/docs/api/json_pointer/index.md
  doc/mkdocs/docs/api/json_pointer/json_pointer.md
  doc/mkdocs/docs/api/json_pointer/operator_slash.md
  doc/mkdocs/docs/api/json_pointer/operator_slasheq.md
  doc/mkdocs/docs/api/json_pointer/operator_string.md
  doc/mkdocs/docs/api/json_pointer/push_back.md
  doc/mkdocs/docs/api/json_pointer/string_t.md
  doc/mkdocs/docs/api/json_pointer/to_string.md
  doc/mkdocs/mkdocs.yml
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/exceptions.hpp
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/json_sax.hpp
  include/nlohmann/detail/input/parser.hpp
  include/nlohmann/detail/iterators/iter_impl.hpp
  include/nlohmann/detail/json_pointer.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/detail/output/serializer.hpp
  include/nlohmann/detail/string_concat.hpp
  include/nlohmann/detail/string_escape.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-alt-string.cpp
  test/src/unit-convenience.cpp
  test/src/unit-json_pointer.cpp
  test/src/unit-regression2.cpp
Labels: release item: :hammer: further change

#3439 Fix typo in basic_json documentation
  doc/mkdocs/docs/api/basic_json/index.md
Labels: release item: :hammer: further change

#3451 Disable regression test for #3070 on GCC <8.4
  test/src/unit-regression2.cpp
Labels: release item: :hammer: further change

#3454 cpplint 1.6.0
  third_party/cpplint/README.rst
  third_party/cpplint/cpplint.py
Labels: release item: :hammer: further change

#3336 Support UBJSON-derived Binary JData (BJData) format
  README.md
  cmake/ci.cmake
  cmake/download_test_data.cmake
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/input_adapters.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  test/CMakeLists.txt
  test/Makefile
  test/src/fuzzer-parse_bjdata.cpp
  test/src/unit-bjdata.cpp
Labels: aspect: binary formats, release item: :sparkles: new feature

#3423 Implement support for string_view (attempt no. 3)
  doc/mkdocs/docs/api/basic_json/at.md
  doc/mkdocs/docs/api/basic_json/basic_json.md
  doc/mkdocs/docs/api/basic_json/contains.md
  doc/mkdocs/docs/api/basic_json/count.md
  doc/mkdocs/docs/api/basic_json/default_object_comparator_t.md
  doc/mkdocs/docs/api/basic_json/erase.md
  doc/mkdocs/docs/api/basic_json/find.md
  doc/mkdocs/docs/api/basic_json/index.md
  doc/mkdocs/docs/api/basic_json/insert.md
  doc/mkdocs/docs/api/basic_json/object_comparator_t.md
  doc/mkdocs/docs/api/basic_json/object_t.md
  doc/mkdocs/docs/api/basic_json/operator[].md
  doc/mkdocs/docs/api/basic_json/to_bson.md
  doc/mkdocs/docs/api/basic_json/to_cbor.md
  doc/mkdocs/docs/api/basic_json/to_msgpack.md
  doc/mkdocs/docs/api/basic_json/to_ubjson.md
  doc/mkdocs/docs/api/basic_json/value.md
  doc/mkdocs/docs/api/ordered_map.md
  doc/mkdocs/mkdocs.yml
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/macro_unscope.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/json.hpp
  include/nlohmann/ordered_map.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-element_access2.cpp
Labels: release item: :zap: improvement
