Repository nlohmann/json, pull requests merged in 2022-03, with the labels that each got.

#3368 Fix and update CI
  .github/workflows/codeql-analysis.yml
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
Labels: release item: :hammer: further change

#3351 FetchContent_MakeAvailable
  README.md
  doc/mkdocs/docs/integration/cmake.md
  test/CMakeLists.txt
  test/cmake_fetch_content2/CMakeLists.txt
  test/cmake_fetch_content2/project/CMakeLists.txt
  test/cmake_fetch_content2/project/main.cpp
Labels: release item: :hammer: further change

#3370 Fix ordered_map ctor with initializer_list (fixes #3343)
  include/nlohmann/ordered_map.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-regression2.cpp
Labels: release item: :bug: bug fix

#3378 Add clarification to avoid misunderstanding that cause #3360
  doc/mkdocs/docs/features/macros.md
Labels: documentation, release item: :hammer: further change

#3379 Fix C++20/gcc-12 issues (Part 1)
  cmake/ci.cmake
  include/nlohmann/json.hpp
  include/nlohmann/ordered_map.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-allocator.cpp
  test/src/unit-alt-string.cpp
  test/src/unit-comparison.cpp
  test/src/unit-regression2.cpp
Labels: release item: :bug: bug fix

#3332 Make iterator operator++/--(int) equality-preserving
  include/nlohmann/detail/iterators/iter_impl.hpp
  include/nlohmann/detail/iterators/json_reverse_iterator.hpp
  include/nlohmann/detail/iterators/primitive_iterator.hpp
  single_include/nlohmann/json.hpp
  test/src/unit-class_iterator.cpp
Labels: release item: :bug: bug fix

#3380 Improve unit testing (Part 1)
  .github/workflows/macos.yml
  CMakeLists.txt
  benchmarks/CMakeLists.txt
  cmake/ci.cmake
  cmake/test.cmake
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/macro_unscope.hpp
  include/nlohmann/detail/meta/cpp_future.hpp
  single_include/nlohmann/json.hpp
  test/CMakeLists.txt
  test/src/unit-alt-string.cpp
  test/src/unit-cbor.cpp
  test/src/unit-class_parser.cpp
  test/src/unit-comparison.cpp
  test/src/unit-conversions.cpp
  test/src/unit-items.cpp
  test/src/unit-regression1.cpp
  test/src/unit-regression2.cpp
  test/src/unit-ubjson.cpp
Labels: release item: :hammer: further change

#3393 Refactor unit tests to use more convenient doctest assertion macros
  test/src/unit-algorithms.cpp
  test/src/unit-bson.cpp
  test/src/unit-cbor.cpp
  test/src/unit-class_const_iterator.cpp
  test/src/unit-class_iterator.cpp
  test/src/unit-class_parser.cpp
  test/src/unit-constructor1.cpp
  test/src/unit-convenience.cpp
  test/src/unit-conversions.cpp
  test/src/unit-deserialization.cpp
  test/src/unit-element_access1.cpp
  test/src/unit-element_access2.cpp
  test/src/unit-iterators1.cpp
  test/src/unit-iterators2.cpp
  test/src/unit-json_patch.cpp
  test/src/unit-json_pointer.cpp
  test/src/unit-modifiers.cpp
  test/src/unit-msgpack.cpp
  test/src/unit-reference_access.cpp
  test/src/unit-regression1.cpp
  test/src/unit-serialization.cpp
  test/src/unit-ubjson.cpp
  test/src/unit-unicode1.cpp
Labels: release item: :hammer: further change
