Repository nlohmann/json, pull requests merged in 2022-08, with the labels that each got.

#3637 Minor BJData fixes
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/meta/cpp_future.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-bjdata.cpp
Labels: aspect: binary formats

#3660 Publish documentation on push to develop branch
  .github/workflows/publish_documentation.yml
  docs/docset/Makefile
  docs/mkdocs/requirements.txt
Labels: documentation

#3671 Add labeler action
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: M, CI

#3670 Complete contributor list
  README.md
  docs/avatars.png
Labels: documentation, L

#3675 Fix whitespace in workflow files
  .github/workflows/ubuntu.yml
Labels: S, CI

#3664 Add json_pointer/string_t equality comparison operators
  docs/examples/json_pointer__operator__equal.cpp
  docs/examples/json_pointer__operator__equal.output
  docs/examples/json_pointer__operator__equal_stringtype.cpp
  docs/examples/json_pointer__operator__equal_stringtype.output
  docs/examples/json_pointer__operator__notequal.cpp
  docs/examples/json_pointer__operator__notequal.output
  docs/examples/json_pointer__operator__notequal_stringtype.cpp
  docs/examples/json_pointer__operator__notequal_stringtype.output
  docs/mkdocs/docs/api/json_pointer/index.md
  docs/mkdocs/docs/api/json_pointer/operator_eq.md
  docs/mkdocs/docs/api/json_pointer/operator_ne.md
  docs/mkdocs/mkdocs.yml
  include/nlohmann/detail/json_pointer.hpp
  include/nlohmann/json_fwd.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-json_pointer.cpp
Labels: documentation, L, tests

#3678 Fix 'const' qualifier on bool& has no effect
  include/nlohmann/detail/conversions/to_json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-constructor1.cpp
Labels: M, tests

#3643 Miscellaneous small fixes
  .lgtm.yml
  tests/src/unit-readme.cpp
  tools/serve_header/serve_header.py
Labels: M, tests

#3663 Reimplement value() access functions
  docs/mkdocs/docs/api/basic_json/value.md
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  tests/CMakeLists.txt
  tests/src/unit-element_access2.cpp
  tests/src/unit-type_traits.cpp
Labels: documentation, L, tests, CMake

#3681 Properly constrain non-string json_pointer overloads
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: M

#3679 Amalgamate the forward declaration header
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  Makefile
  cmake/ci.cmake
  docs/mkdocs/docs/integration/index.md
  single_include/nlohmann/json_fwd.hpp
  tools/amalgamate/config_json.json
  tools/amalgamate/config_json_fwd.json
Labels: documentation, L, CMake

#3685 Make json_pointer usable as map key (again)
  include/nlohmann/detail/json_pointer.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-json_pointer.cpp
Labels: M, tests

#3686 Documentation updates for 3.11.2
  docs/docset/docSet.sql
Labels: documentation, S

#3687 Add amalgamated json-fwd.hpp to release
  Makefile
  meson.build
  wsjcpp.yml
Labels: S

#3684 Deprecate json_pointer/string_t comparisons
  docs/mkdocs/docs/api/json_pointer/operator_eq.md
  docs/mkdocs/docs/api/json_pointer/operator_ne.md
  include/nlohmann/detail/json_pointer.hpp
  single_include/nlohmann/json.hpp
Labels: documentation, M

#3692 fix typo in json_pointer.md
  docs/mkdocs/docs/features/json_pointer.md
Labels: documentation, S

#3683 Restructure inline namespace and allow version component to be disabled
  docs/docset/docSet.sql
  docs/examples/nlohmann_json_namespace.output
  docs/examples/nlohmann_json_namespace_no_version.cpp
  docs/examples/nlohmann_json_namespace_no_version.output
  docs/mkdocs/docs/api/macros/index.md
  docs/mkdocs/docs/api/macros/nlohmann_json_namespace.md
  docs/mkdocs/docs/api/macros/nlohmann_json_namespace_begin.md
  docs/mkdocs/docs/api/macros/nlohmann_json_namespace_no_version.md
  docs/mkdocs/docs/features/namespace.md
  docs/mkdocs/mkdocs.yml
  include/nlohmann/detail/abi_macros.hpp
  single_include/nlohmann/json.hpp
  single_include/nlohmann/json_fwd.hpp
  tests/abi/CMakeLists.txt
  tests/abi/config/CMakeLists.txt
  tests/abi/config/config.hpp
  tests/abi/config/custom.cpp
  tests/abi/config/default.cpp
  tests/abi/config/noversion.cpp
  tests/abi/include/nlohmann/json_v3_10_5.hpp
  tools/gdb_pretty_printer/nlohmann-json.py
Labels: documentation, L, tests, CMake

#3697 Add Python script for generating Natvis file and update file for 3.11.2
  nlohmann_json.natvis
  tools/generate_natvis/README.md
  tools/generate_natvis/generate_natvis.py
  tools/generate_natvis/nlohmann_json.natvis.j2
Labels: documentation, L

#3698 generate_natvis.py: validate version number; cleanup
  tools/generate_natvis/generate_natvis.py
Labels: M

#3693 Add 'Check amalgamation' workflow
  .github/workflows/check_amalgamation.yml
Labels: M, CI

#3703 Use official Clang/GCC containers
  .clang-tidy
  .github/workflows/ubuntu.yml
  .reuse/dep5
  README.md
  cmake/ci.cmake
  include/nlohmann/detail/iterators/iteration_proxy.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  tests/thirdparty/fifo_map/fifo_map.hpp
  tools/cpplint/README.rst
  tools/cpplint/cpplint.py
  tools/cpplint/update.sh
Labels: documentation, L, CI, tests, CMake

#3110 Allow custom base class as node customization point
  docs/examples/json_base_class_t.cpp
  docs/examples/json_base_class_t.output
  docs/mkdocs/docs/api/basic_json/index.md
  docs/mkdocs/docs/api/basic_json/json_base_class_t.md
  docs/mkdocs/mkdocs.yml
  include/nlohmann/detail/json_custom_base_class.hpp
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/json.hpp
  include/nlohmann/json_fwd.hpp
  single_include/nlohmann/json.hpp
  single_include/nlohmann/json_fwd.hpp
  tests/src/unit-custom-base-class.cpp
Labels: documentation, review needed, L, tests

#3719 Add missing <numeric> include
  include/nlohmann/detail/exceptions.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: S
