Repository nlohmann/json, pull requests merged in 2022-06, with the labels that each got.

#3514 Fix nlohmann/json#3513, explain is_ndarray flag
  include/nlohmann/detail/input/binary_reader.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-bjdata.cpp
Labels: aspect: binary formats, release item: :bug: bug fix

#3485 Add more macOS builders
  .github/workflows/macos.yml
  README.md
Labels: release item: :hammer: further change

#3516 CI: Remove -Wstrict-overflow
  cmake/ci.cmake
Labels: release item: :hammer: further change

#3517 Add assertion to converting constructor
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#3520 Small documentation fixes
  README.md
  docs/mkdocs/docs/features/json_pointer.md
Labels: release item: :hammer: further change

#3523 Fix ndarray dimension signedness, fix ndarray length overflow (2); add 32bit unit test
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  single_include/nlohmann/json.hpp
  tests/CMakeLists.txt
  tests/src/unit-32bit.cpp
  tests/src/unit-bjdata.cpp
Labels: release item: :bug: bug fix

#3528 Use new CI image
  .clang-tidy
  .github/workflows/ubuntu.yml
  README.md
  cmake/ci.cmake
  include/nlohmann/detail/meta/type_traits.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#3534 Add to_json() for std::vector<bool>::reference
  include/nlohmann/detail/conversions/to_json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-constructor1.cpp
Labels: release item: :hammer: further change

#3532 CI: Enable 32bit unit test (3)
  .github/workflows/ubuntu.yml
  CMakeLists.txt
  cmake/ci.cmake
  cmake/test.cmake
  include/nlohmann/detail/input/binary_reader.hpp
  single_include/nlohmann/json.hpp
  tests/CMakeLists.txt
  tests/src/unit-32bit.cpp
  tests/src/unit-bjdata.cpp
Labels: release item: :hammer: further change

#3536 Allow disabling default enum conversions
  CMakeLists.txt
  cmake/ci.cmake
  docs/docset/docSet.sql
  docs/mkdocs/docs/api/macros/index.md
  docs/mkdocs/docs/api/macros/json_disable_enum_serialization.md
  docs/mkdocs/docs/api/macros/nlohmann_json_serialize_enum.md
  docs/mkdocs/docs/features/enum_conversion.md
  docs/mkdocs/docs/features/macros.md
  docs/mkdocs/mkdocs.yml
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/macro_unscope.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#3543 BJData dimension length can not be string_t::npos, fix #3541
  include/nlohmann/detail/input/binary_reader.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-32bit.cpp
  tests/src/unit-bjdata.cpp
Labels: aspect: binary formats, release item: :bug: bug fix

#3544 Use `std::iterator_traits` to extract `iterator_category`
  include/nlohmann/detail/iterators/iter_impl.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#3550 Use DOCTEST_* compiler macros and suppress pragmas warning
  tests/src/unit-items.cpp
  tests/src/unit-iterators2.cpp
  tests/src/unit-regression1.cpp
  tests/src/unit-regression2.cpp
Labels: release item: :hammer: further change

#3555 CI: fix "JSON_MultipleHeaders" option spelling
  cmake/ci.cmake
Labels: release item: :hammer: further change
