Repository nlohmann/json, pull requests merged in 2022-05, with the labels that each got.

#3456 Enable rapid testing and development on Compiler Explorer
  .gitignore
  Makefile
  tools/serve_header/README.md
  tools/serve_header/demo.png
  tools/serve_header/requirements.txt
  tools/serve_header/serve_header.py
  tools/serve_header/serve_header.yml.example
Labels: release item: :hammer: further change

#3465 Add build step for ICPC (with fixes)
  .github/workflows/ubuntu.yml
  README.md
  cmake/ci.cmake
  include/nlohmann/detail/meta/type_traits.hpp
  single_include/nlohmann/json.hpp
  tests/CMakeLists.txt
  tests/src/unit-regression2.cpp
  tests/src/unit-wstring.cpp
Labels: release item: :hammer: further change

#3463 Handle invalid BJData optimized type, fix #3461
  include/nlohmann/detail/input/binary_reader.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-bjdata.cpp
Labels: aspect: binary formats, release item: :bug: bug fix

#3478 Document fuzzer usage
  .gitignore
  tests/fuzzing.md
Labels: documentation, release item: :hammer: further change

#3481 documents: fix typos in iterators.md
  docs/mkdocs/docs/features/iterators.md
Labels: release item: :hammer: further change

#3479 change bjdata ndarray flag to detect negative size, as part of #3475
  include/nlohmann/detail/input/binary_reader.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-bjdata.cpp
Labels: aspect: binary formats, release item: :bug: bug fix

#3493 Updated BJData documentation, #3464
  docs/mkdocs/docs/features/binary_formats/bjdata.md
Labels: documentation, release item: :hammer: further change

#3498 Add assertion for invariant in SAX-DOM parser
  include/nlohmann/detail/input/json_sax.hpp
  single_include/nlohmann/json.hpp
Labels: release item: :hammer: further change

#3502 prevent ndarray dimension vector from recusive array, nlohmann/json#3500
  include/nlohmann/detail/input/binary_reader.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-bjdata.cpp
Labels: aspect: binary formats, release item: :bug: bug fix

#3505 Prevent ndarray size vector from recursive use, fix nlohmann/json#3503
  include/nlohmann/detail/input/binary_reader.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-bjdata.cpp
Labels: aspect: binary formats, release item: :bug: bug fix

#3446 Fix C++20/gcc-12 issues (Part 2)
  .github/workflows/ubuntu.yml
  CMakeLists.txt
  cmake/ci.cmake
  cmake/test.cmake
  docs/mkdocs/docs/api/basic_json/index.md
  docs/mkdocs/docs/api/basic_json/operator_eq.md
  docs/mkdocs/docs/api/basic_json/operator_ge.md
  docs/mkdocs/docs/api/basic_json/operator_gt.md
  docs/mkdocs/docs/api/basic_json/operator_le.md
  docs/mkdocs/docs/api/basic_json/operator_lt.md
  docs/mkdocs/docs/api/basic_json/operator_ne.md
  docs/mkdocs/docs/api/basic_json/operator_spaceship.md
  docs/mkdocs/docs/api/basic_json/value_t.md
  docs/mkdocs/docs/api/macros/index.md
  docs/mkdocs/docs/api/macros/json_has_ranges.md
  docs/mkdocs/docs/api/macros/json_has_three_way_comparison.md
  docs/mkdocs/docs/api/macros/json_use_legacy_discarded_value_comparison.md
  docs/mkdocs/docs/css/custom.css
  docs/mkdocs/mkdocs.yml
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/iterators/iter_impl.hpp
  include/nlohmann/detail/iterators/iteration_proxy.hpp
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/macro_unscope.hpp
  include/nlohmann/detail/value_t.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  tests/CMakeLists.txt
  tests/src/unit-class_parser.cpp
  tests/src/unit-comparison.cpp
  tests/src/unit-conversions.cpp
  tests/src/unit-items.cpp
  tests/src/unit-iterators2.cpp
  tests/src/unit-regression2.cpp
Labels: release item: :bug: bug fix
