Repository nlohmann/json, pull requests merged in 2022-09, with the labels that each got.

#3738 :rotating_light: fix Clang-Tidy warnings
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-32bit.cpp
  tests/src/unit-bjdata.cpp
  tests/src/unit-bson.cpp
  tests/src/unit-capacity.cpp
  tests/src/unit-cbor.cpp
  tests/src/unit-constructor1.cpp
  tests/src/unit-json_pointer.cpp
  tests/src/unit-msgpack.cpp
  tests/src/unit-ubjson.cpp
  tests/thirdparty/doctest/doctest_compatibility.h
Labels: L, tests

#3739 :rotating_light: fix Clang-Tidy warnings
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-assert_macro.cpp
  tests/src/unit-bjdata.cpp
  tests/src/unit-capacity.cpp
  tests/src/unit-constructor1.cpp
  tests/src/unit-msgpack.cpp
Labels: L, tests

#3726 Add dark mode toggle to documentation
  docs/mkdocs/mkdocs.yml
Labels: documentation, M

#3740 Update Codacy link
  README.md
Labels: documentation, S

#3748 Fix typos in .md files
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/mkdocs/docs/api/basic_json/update.md
  docs/mkdocs/docs/api/macros/nlohmann_json_serialize_enum.md
Labels: documentation, state: needs more info, M

#3709 Add Bazel build support
  BUILD.bazel
  CMakeLists.txt
  Makefile
  README.md
  WORKSPACE.bazel
  cmake/scripts/gen_bazel_build_file.cmake
  docs/mkdocs/docs/integration/package_managers.md
Labels: documentation, M, CMake

#3723 Replace limit macros with std::numeric_limits
  tests/src/unit-bson.cpp
  tests/src/unit-cbor.cpp
  tests/src/unit-msgpack.cpp
  tests/src/unit-regression1.cpp
  tests/src/unit-windows_h.cpp
Labels: M, tests

#3751 Fix 'declaration hides global declaration' warning
  tests/src/unit-noexcept.cpp
Labels: M, tests

#3728 Add missing files to release artifacts
  Makefile
Labels: S

#3767 Fix some typos for n-dimensional arrays
  include/nlohmann/detail/input/binary_reader.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-bjdata.cpp
Labels: M, tests
