Repository nlohmann/json, pull requests merged in 2022-12, with the labels that each got.

#3862 Fix pipeline
  .clang-tidy
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  README.md
Labels: documentation, M, CI

#3863 Fix natvis XML
  .github/workflows/ubuntu.yml
  nlohmann_json.natvis
  tools/generate_natvis/nlohmann_json.natvis.j2
Labels: M, CI

#3845 Add CIFuzz CI GitHub action
  .github/workflows/cifuzz.yml
Labels: M, CI

#3887 Add migration guide
  docs/docset/docSet.sql
  docs/mkdocs/docs/integration/migration_guide.md
  docs/mkdocs/mkdocs.yml
Labels: documentation, L

#3888 Remove a magic number
  include/nlohmann/detail/output/serializer.hpp
  single_include/nlohmann/json.hpp
Labels: S

#3889 Fix warning about moved from object
  include/nlohmann/detail/string_concat.hpp
  single_include/nlohmann/json.hpp
Labels: M

#3891 Upgrade Python packages
  docs/mkdocs/docs/api/basic_json/json_base_class_t.md
  docs/mkdocs/requirements.txt
Labels: documentation, M

#3892 Try old MinGW script
  .github/workflows/windows.yml
  README.md
Labels: documentation, M, CI
