Repository nlohmann/json, pull requests merged in 2023-11, with the labels that each got.

#4196 Fix CI (again)
  .github/workflows/codeql-analysis.yml
  docs/mkdocs/docs/api/adl_serializer/from_json.md
  docs/mkdocs/docs/api/adl_serializer/to_json.md
  docs/mkdocs/docs/api/basic_json/exception.md
  docs/mkdocs/docs/api/basic_json/index.md
  docs/mkdocs/docs/api/basic_json/json_serializer.md
  docs/mkdocs/docs/api/macros/json_throw_user.md
  docs/mkdocs/docs/features/types/number_handling.md
  docs/mkdocs/docs/integration/package_managers.md
  docs/mkdocs/mkdocs.yml
  docs/mkdocs/requirements.txt
  tests/src/unit-udt.cpp
Labels: documentation, L, CI, tests

#4215 Fix failing CI checks
  .github/workflows/ubuntu.yml
  tests/src/unit-custom-base-class.cpp
Labels: M, CI, tests

#3816 Add serialization-only user defined type macros
  docs/examples/nlohmann_define_type_intrusive_only_serialize_explicit.cpp
  docs/examples/nlohmann_define_type_intrusive_only_serialize_explicit.output
  docs/examples/nlohmann_define_type_intrusive_only_serialize_macro.cpp
  docs/examples/nlohmann_define_type_intrusive_only_serialize_macro.output
  docs/examples/nlohmann_define_type_non_intrusive_only_serialize_explicit.cpp
  docs/examples/nlohmann_define_type_non_intrusive_only_serialize_explicit.output
  docs/examples/nlohmann_define_type_non_intrusive_only_serialize_macro.cpp
  docs/examples/nlohmann_define_type_non_intrusive_only_serialize_macro.output
  docs/mkdocs/docs/api/macros/index.md
  docs/mkdocs/docs/api/macros/nlohmann_define_type_intrusive.md
  docs/mkdocs/docs/api/macros/nlohmann_define_type_non_intrusive.md
  docs/mkdocs/docs/features/macros.md
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-udt_macro.cpp
Labels: documentation, review needed, L, tests

#4179 Fix char_traits deprecation warning
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/input_adapters.hpp
  include/nlohmann/detail/input/lexer.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  single_include/nlohmann/json.hpp
Labels: L
