Repository nlohmann/json, pull requests merged in 2023-06, with the labels that each got.

#4045 Add to CONTRIBUTING.md that `make pretty` is required for test updates.
  .github/CONTRIBUTING.md
Labels: documentation, S

#4044 Added to tests the file unit-algorithm.cpp (c++ 11) functions from algorithm library
  tests/src/unit-algorithms.cpp
Labels: M, tests

#4039 Use template get instead of get in examples
  README.md
  docs/examples/from_json__default_constructible.cpp
  docs/examples/from_json__non_default_constructible.cpp
  docs/examples/get__PointerType.cpp
  docs/examples/get__ValueType_const.cpp
  docs/examples/nlohmann_define_type_intrusive_explicit.cpp
  docs/examples/nlohmann_define_type_intrusive_macro.cpp
  docs/examples/nlohmann_define_type_intrusive_with_default_explicit.cpp
  docs/examples/nlohmann_define_type_intrusive_with_default_macro.cpp
  docs/examples/nlohmann_define_type_non_intrusive_explicit.cpp
  docs/examples/nlohmann_define_type_non_intrusive_macro.cpp
  docs/examples/nlohmann_define_type_non_intrusive_with_default_explicit.cpp
  docs/examples/nlohmann_define_type_non_intrusive_with_default_macro.cpp
  docs/examples/nlohmann_json_serialize_enum.cpp
  docs/examples/nlohmann_json_serialize_enum_2.cpp
  docs/mkdocs/docs/api/adl_serializer/from_json.md
  docs/mkdocs/docs/api/macros/json_disable_enum_serialization.md
  docs/mkdocs/docs/api/macros/json_use_implicit_conversions.md
  docs/mkdocs/docs/api/macros/nlohmann_json_serialize_enum.md
  docs/mkdocs/docs/features/arbitrary_types.md
  docs/mkdocs/docs/features/enum_conversion.md
  docs/mkdocs/docs/features/types/number_handling.md
  docs/mkdocs/docs/integration/migration_guide.md
Labels: documentation, L
