Repository nlohmann/json, pull requests merged in 2023-09, with the labels that each got.

#4109 Fix typo in afl_driver.cpp
  tests/thirdparty/Fuzzer/afl/afl_driver.cpp
Labels: S, tests

#4083 Fix CI, again
  Makefile
  docs/examples/at__json_pointer.cpp
  docs/examples/at__keytype.c++17.cpp
  docs/examples/at__keytype_const.c++17.cpp
  docs/examples/at__object_t_key_type.cpp
  docs/examples/at__object_t_key_type_const.cpp
  docs/examples/at__size_type.cpp
  docs/examples/at__size_type_const.cpp
  docs/examples/basic_json__CompatibleType.cpp
  docs/examples/get_to.cpp
  docs/examples/operator_spaceship__const_reference.c++20.cpp
  docs/examples/operator_spaceship__scalartype.c++20.cpp
  docs/examples/parse__istream__parser_callback_t.cpp
  docs/examples/parse__string__parser_callback_t.cpp
  include/nlohmann/detail/exceptions.hpp
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/input_adapters.hpp
  include/nlohmann/detail/input/json_sax.hpp
  include/nlohmann/detail/iterators/iteration_proxy.hpp
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  single_include/nlohmann/json_fwd.hpp
  tests/benchmarks/src/benchmarks.cpp
  tests/src/unit-32bit.cpp
  tests/src/unit-algorithms.cpp
  tests/src/unit-alt-string.cpp
  tests/src/unit-bjdata.cpp
  tests/src/unit-bson.cpp
  tests/src/unit-cbor.cpp
  tests/src/unit-constructor1.cpp
  tests/src/unit-custom-base-class.cpp
  tests/src/unit-element_access2.cpp
  tests/src/unit-iterators2.cpp
  tests/src/unit-msgpack.cpp
  tests/src/unit-ordered_json.cpp
  tests/src/unit-ordered_map.cpp
  tests/src/unit-regression1.cpp
Labels: documentation, L, tests

#4143 Correct a typo in serve_header/README.md
  tools/serve_header/README.md
Labels: documentation, S

#4149 Update index.md
  docs/mkdocs/docs/api/basic_json/index.md
Labels: documentation, S

#4160 Fix CI
  .clang-tidy
  include/nlohmann/detail/input/lexer.hpp
  single_include/nlohmann/json.hpp
  single_include/nlohmann/json_fwd.hpp
  tests/src/fuzzer-parse_bjdata.cpp
  tests/src/fuzzer-parse_ubjson.cpp
  tests/src/unit-bjdata.cpp
  tests/src/unit-bson.cpp
  tests/src/unit-cbor.cpp
  tests/src/unit-class_parser.cpp
  tests/src/unit-element_access2.cpp
  tests/src/unit-json_pointer.cpp
  tests/src/unit-msgpack.cpp
  tests/src/unit-no-mem-leak-on-adl-serialize.cpp
  tests/src/unit-unicode1.cpp
  tests/thirdparty/fifo_map/fifo_map.hpp
Labels: L, tests

#4099 Capture exceptions by const& in docs.
  docs/examples/at__json_pointer.cpp
  docs/examples/at__json_pointer_const.cpp
  docs/examples/at__keytype.c++17.cpp
  docs/examples/at__keytype_const.c++17.cpp
  docs/examples/at__object_t_key_type.cpp
  docs/examples/at__object_t_key_type_const.cpp
  docs/examples/at__size_type.cpp
  docs/examples/at__size_type_const.cpp
  docs/examples/back.cpp
  docs/examples/basic_json__InputIt_InputIt.cpp
  docs/examples/cbor_tag_handler_t.cpp
  docs/examples/contains__json_pointer.cpp
  docs/examples/diagnostics_extended.cpp
  docs/examples/diagnostics_standard.cpp
  docs/examples/dump.cpp
  docs/examples/error_handler_t.cpp
  docs/examples/exception.cpp
  docs/examples/get_ref.cpp
  docs/examples/invalid_iterator.cpp
  docs/examples/json_pointer.cpp
  docs/examples/nlohmann_define_type_intrusive_explicit.cpp
  docs/examples/nlohmann_define_type_intrusive_macro.cpp
  docs/examples/nlohmann_define_type_non_intrusive_explicit.cpp
  docs/examples/nlohmann_define_type_non_intrusive_macro.cpp
  docs/examples/object.cpp
  docs/examples/operator__ValueType.cpp
  docs/examples/other_error.cpp
  docs/examples/out_of_range.cpp
  docs/examples/parse__allow_exceptions.cpp
  docs/examples/parse_error.cpp
  docs/examples/type_error.cpp
Labels: documentation, M

#4159 Update index.md
  docs/mkdocs/docs/api/basic_json/index.md
Labels: documentation, S

#4140 Fixed init-list construction when size_type is not int
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: M

#4161 Fix deprecation warning
  docs/mkdocs/docs/api/operator_literal_json.md
  docs/mkdocs/docs/api/operator_literal_json_pointer.md
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: documentation, M

#4046 Fix compile error with _HAS_STATIC_RTTI=0
  docs/mkdocs/docs/api/macros/json_has_static_rtti.md
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/macro_unscope.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: documentation, please rebase, M

#4112 Accept NEW CMake policies up to CMake 3.14
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/benchmarks/CMakeLists.txt
  tests/cmake_add_subdirectory/project/CMakeLists.txt
  tests/cmake_fetch_content/project/CMakeLists.txt
  tests/cmake_import/project/CMakeLists.txt
  tests/cmake_import_minver/project/CMakeLists.txt
  tests/cmake_target_include_directories/project/CMakeLists.txt
Labels: M, tests, CMake
