Repository nlohmann/json, pull requests merged in 2023-01, with the labels that each got.

#3920 PrettyPrinter: Check if match is valid before accessing group
  tools/gdb_pretty_printer/nlohmann-json.py
Labels: M

#3906 Fix CI issues
  .cirrus.yml
  .github/workflows/ubuntu.yml
  README.md
  cmake/ci.cmake
  tests/CMakeLists.txt
  tests/src/unit-regression2.cpp
Labels: documentation, M, CI, tests, CMake

#3932 Change 2022 to 2023
  README.md
Labels: documentation, S
