Repository nlohmann/json, pull requests merged in 2023-03, with the labels that each got.

#3950 tests/unit-iterators2: use std::ranges::equals for range comparisons
  tests/src/unit-iterators2.cpp
Labels: S, tests

#3951 Fix typo in test.cmake
  cmake/test.cmake
Labels: S, CMake

#3895 custom allocators: define missing 'rebind' type
  tests/src/unit-allocator.cpp
  tests/src/unit-regression2.cpp
Labels: M, tests

#3969 Refactor amalgamation workflow to avoid dangerous use of pull_request_target
  .github/workflows/check_amalgamation.yml
  .github/workflows/comment_check_amalgamation.yml
Labels: L, CI

#3901 Prevent memory leak when exception is thrown in adl_serializer::to_json
  .cirrus.yml
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/exceptions.hpp
  include/nlohmann/detail/input/json_sax.hpp
  include/nlohmann/detail/iterators/iter_impl.hpp
  include/nlohmann/detail/json_pointer.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/detail/output/serializer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-class_const_iterator.cpp
  tests/src/unit-class_iterator.cpp
  tests/src/unit-constructor1.cpp
  tests/src/unit-conversions.cpp
  tests/src/unit-no-mem-leak-on-adl-serialize.cpp
Labels: L, tests
