Repository nlohmann/json, pull requests merged in 2023-10, with the labels that each got.

#4169 Fix source highlighting in user defined type macros docs
  docs/mkdocs/docs/api/macros/nlohmann_define_type_intrusive.md
  docs/mkdocs/docs/api/macros/nlohmann_define_type_non_intrusive.md
Labels: documentation, M

#4173 Fix spellcheck issue
  include/nlohmann/detail/input/input_adapters.hpp
  single_include/nlohmann/json.hpp
  tests/abi/include/nlohmann/json_v3_10_5.hpp
Labels: S, tests

#4175 Fix MinGW CI
  .github/workflows/windows.yml
Labels: S, CI

#4010 Support Apple's Swift Package Manager
  .gitignore
  Package.swift
  README.md
Labels: documentation, M

#4180 Add more specific error message when attempting to parse empty input
  docs/mkdocs/docs/home/exceptions.md
  include/nlohmann/detail/input/parser.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-diagnostics.cpp
  tests/src/unit-regression1.cpp
Labels: documentation, M, tests
