Repository nlohmann/json, pull requests merged in 2024-04, with the labels that each got.

#4335 Fixed an error in the `Custom data source` example.
  README.md
Labels: documentation, S

#4342 Fix for incorrect function name in documentation example
  docs/mkdocs/docs/features/arbitrary_types.md
Labels: documentation, S

#4345 chore: fix some typos in comments
  tests/src/unit-class_parser.cpp
  tests/src/unit-regression2.cpp
Labels: S, tests

#4343 Fix gdb pretty printer
  tools/gdb_pretty_printer/nlohmann-json.py
Labels: S

#4255 Docs: Fix wrong code usage in the Value access section of `json_pointer.md`
  docs/mkdocs/docs/features/json_pointer.md
Labels: documentation, S
