Repository nlohmann/json, pull requests merged in 2024-01, with the labels that each got.

#4269 Fix version in json_has_static_rtti.md
  docs/mkdocs/docs/api/macros/json_has_static_rtti.md
Labels: documentation, S

#4274 Remove broken link from CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: S

#4276 Suppress Clang-Tidy warnings
  .clang-tidy
  include/nlohmann/detail/input/json_sax.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-alt-string.cpp
  tests/src/unit-class_parser.cpp
  tests/src/unit-convenience.cpp
  tests/src/unit-deserialization.cpp
  tests/src/unit-readme.cpp
  tests/src/unit-regression2.cpp
  tests/src/unit-udt.cpp
  tests/src/unit-udt_macro.cpp
Labels: M, tests

#4277 Align astyle flags in Makefile with CI
  Makefile
Labels: S
