Repository nlohmann/json, pull requests merged in 2024-11, with the labels that each got.

#4486 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: S

#4033 Add NLOHMANN_DEFINE_DERIVED_TYPE_* macros
  docs/mkdocs/docs/api/macros/nlohmann_define_derived_type.md
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
  single_include/nlohmann/json_fwd.hpp
  tests/src/unit-udt_macro.cpp
Labels: documentation, L, tests

#4483 Allow overriding the CMake target name
  CMakeLists.txt
Labels: S, CMake

#4362 Add lgtm explanation
  include/nlohmann/detail/input/lexer.hpp
  single_include/nlohmann/json.hpp
Labels: S

#4372 Make iterator_proxy_value a forward_iterator (#4371)
  include/nlohmann/detail/iterators/iteration_proxy.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-readme.cpp
Labels: M, tests

#4459 Add CPack support
  CMakeLists.txt
Labels: state: needs more info, S, CMake

#4396 Remove alwayslink=True Bazel flag
  BUILD.bazel
Labels: S

#4495 Add test for libstdc++
  .github/workflows/ubuntu.yml
  cmake/ci.cmake
  tests/src/unit-bson.cpp
  tests/src/unit-cbor.cpp
  tests/src/unit-deserialization.cpp
  tests/src/unit-msgpack.cpp
  tests/src/unit-regression2.cpp
Labels: M, CI, tests, CMake

#4496 Add comment for #4494
  README.md
Labels: documentation, S

#4497 Suppress warnings in NLOHMANN_JSON_SERIALIZE_ENUM
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
Labels: S

#4487 Possible fix for #4485
  include/nlohmann/detail/input/input_adapters.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-concepts.cpp
  tests/src/unit-deserialization.cpp
Labels: M, tests

#4500 Fix weak-vtables warning
  cmake/ci.cmake
  include/nlohmann/detail/exceptions.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-regression2.cpp
Labels: M, tests, CMake

#4506 fix: integer parsed as float when EINTR set in errno
  include/nlohmann/detail/input/lexer.hpp
  single_include/nlohmann/json.hpp
Labels: S

#4504 Skip enum tests when JSON_DisableEnumSerialization=ON
  CMakeLists.txt
  tests/src/unit-conversions.cpp
  tests/src/unit-noexcept.cpp
  tests/src/unit-regression1.cpp
  tests/src/unit-udt.cpp
Labels: M, tests, CMake

#4505 Make SAX output locale-independent
  .github/workflows/ubuntu.yml
  include/nlohmann/detail/input/lexer.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-locale-cpp.cpp
Labels: L, CI, tests

#4512 Allow comparing default initialized iterators
  .github/workflows/macos.yml
  README.md
  include/nlohmann/detail/iterators/iter_impl.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-iterators3.cpp
Labels: documentation, L, CI, tests

#4456 CMake: generate a pkg-config file that follow pkg-config conventions
  CMakeLists.txt
  cmake/pkg-config.pc.in
Labels: M, CMake

#4391 Optimize binary `get_number` implementation by reading multiple bytes at once
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/input_adapters.hpp
  single_include/nlohmann/json.hpp
  tests/benchmarks/src/benchmarks.cpp
  tests/src/unit-msgpack.cpp
Labels: L, tests
