Repository nlohmann/json, pull requests merged in 2024-12, with the labels that each got.

#4524 Add more GCC warning flags
  .github/workflows/ubuntu.yml
  cmake/ci.cmake
Labels: L, CI, CMake

#4525 Fix return value of get_ptr for unsigned integers
  docs/mkdocs/docs/api/basic_json/get_ptr.md
  docs/mkdocs/docs/api/basic_json/get_ref.md
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-pointer_access.cpp
  tests/src/unit-reference_access.cpp
Labels: documentation, review needed, M, tests

#4262 Add support of multi-dim C-style array member of struct.
  include/nlohmann/detail/conversions/from_json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-conversions.cpp
Labels: L, tests

#4532 Replace EOF with char_traits
  docs/mkdocs/docs/home/customers.md
  docs/mkdocs/docs/images/customers.png
  include/nlohmann/detail/meta/type_traits.hpp
  single_include/nlohmann/json.hpp
Labels: documentation, M

#4533 Add more package managers
  docs/mkdocs/docs/integration/macports/CMakeLists.txt
  docs/mkdocs/docs/integration/macports/example.cpp
  docs/mkdocs/docs/integration/nuget/nuget-package-content.png
  docs/mkdocs/docs/integration/nuget/nuget-project-changes.png
  docs/mkdocs/docs/integration/nuget/nuget-project-makefile.png
  docs/mkdocs/docs/integration/nuget/nuget-search-package.png
  docs/mkdocs/docs/integration/nuget/nuget-select-package.png
  docs/mkdocs/docs/integration/package_managers.md
Labels: documentation, L, CMake

#4536 Allow patch and diff to be used with arbitrary string types
  include/nlohmann/detail/iterators/iteration_proxy.hpp
  include/nlohmann/detail/string_utils.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-alt-string.cpp
Labels: L, tests

#4546 Clean up
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
Labels: L, CI

#4547 Move reuse dependency to requirements.txt file
  .github/dependabot.yml
  .github/workflows/ubuntu.yml
  .reuse/requirements.txt
Labels: S, CI

#4549 Add step to build the documentation
  .github/workflows/ubuntu.yml
  cmake/ci.cmake
Labels: M, CI, CMake

#4550 Fix token permissions warnings
  .github/workflows/check_amalgamation.yml
  .github/workflows/cifuzz.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/comment_check_amalgamation.yml
  .github/workflows/dependency-review.yml
  .github/workflows/labeler.yml
  .github/workflows/macos.yml
  .github/workflows/publish_documentation.yml
  .github/workflows/scorecards.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
Labels: M, CI

#4553 Clean up CI
  .github/dependabot.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
  cmake/ci.cmake
  cmake/requirements/requirements-cppcheck.txt
  cmake/requirements/requirements-cpplint.txt
  cmake/requirements/requirements-reuse.txt
  include/nlohmann/detail/input/input_adapters.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: L, CI, CMake

#4558 Suppress modernize-use-integer-sign-comparison
  .clang-tidy
Labels: S

#4562 Add ONLY_SERIALIZE for NLOHMANN_DEFINE_DERIVED_TYPE_* macros
  docs/mkdocs/docs/api/macros/nlohmann_define_derived_type.md
  docs/mkdocs/docs/features/macros.md
  docs/mkdocs/mkdocs.yml
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-udt_macro.cpp
Labels: documentation, L, tests

#4565 Fix typo in nlohmann_define_derived_type.md
  docs/mkdocs/docs/api/macros/nlohmann_define_derived_type.md
Labels: documentation, S

#4570 fix diagnostic positions related compilation errors
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: S

#4572 fix the abi tests for diagnostics positions feature
  tests/abi/config/default.cpp
  tests/abi/config/noversion.cpp
Labels: S, tests

#4575 Use ubuntu-latest image to run Valgrind
  .github/workflows/ubuntu.yml
Labels: review needed, S, CI

#4574 Use Clang image to run iwyu
  .github/workflows/ubuntu.yml
  include/nlohmann/detail/conversions/to_json.hpp
  single_include/nlohmann/json.hpp
Labels: review needed, M, CI

#4508 Fix NLOHMANN_DEFINE_TYPE_INTRUSIVE_WITH_DEFAULT with an empty JSON instance
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-udt_macro.cpp
Labels: M, tests
