Repository nlohmann/json, pull requests merged in 2025-01, with the labels that each got.

#4577 Modernize integer comparison
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/json_sax.hpp
  include/nlohmann/detail/input/parser.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
Labels: M

#4581 Enable modernize-use-integer-sign-comparison check
  .clang-tidy
  tests/src/unit-alt-string.cpp
  tests/src/unit-class_parser.cpp
  tests/src/unit-class_parser_diagnostic_positions.cpp
  tests/src/unit-deserialization.cpp
Labels: review needed, M, tests

#4579 add a ci step for Json_Diagnostic_Positions
  .github/workflows/ubuntu.yml
  cmake/ci.cmake
Labels: M, CI, CMake

#4513 BJData optimized binary array type
  docs/mkdocs/docs/api/basic_json/to_bjdata.md
  docs/mkdocs/docs/features/binary_formats/bjdata.md
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-bjdata.cpp
Labels: documentation, aspect: binary formats, L, tests

#4584 Improve Bazel support: Switch to Bzlmod
  .gitignore
  BUILD.bazel
  MODULE.bazel
  WORKSPACE.bazel
  docs/mkdocs/docs/integration/bazel/MODULE.bazel
  docs/mkdocs/docs/integration/bazel/WORKSPACE
  docs/mkdocs/docs/integration/package_managers.md
Labels: documentation, M

#4588 BJData Fixes
  docs/mkdocs/docs/api/basic_json/to_bjdata.md
  include/nlohmann/detail/output/binary_writer.hpp
  single_include/nlohmann/json.hpp
Labels: documentation, M

#4592 Add note to Jetbrains support
  README.md
Labels: documentation, S

#4590 Support BSON uint64 de/serialization
  docs/mkdocs/docs/features/binary_formats/bson.md
  docs/mkdocs/docs/home/exceptions.md
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-bson.cpp
Labels: documentation, aspect: binary formats, M, tests

#4595 Fix coverage job
  cmake/ci.cmake
Labels: review needed, S, CMake

#4594 Serialize empty tuple into '[]' instead of null
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-regression2.cpp
Labels: M, tests

#4597 Generate template functions with NLOHMANN_DEFINE_TYPE macros
  docs/mkdocs/docs/api/macros/nlohmann_define_derived_type.md
  docs/mkdocs/docs/api/macros/nlohmann_define_type_intrusive.md
  docs/mkdocs/docs/api/macros/nlohmann_define_type_non_intrusive.md
  docs/mkdocs/docs/api/macros/nlohmann_json_serialize_enum.md
  docs/mkdocs/docs/examples/nlohmann_define_type_intrusive_explicit.cpp
  docs/mkdocs/docs/examples/nlohmann_define_type_intrusive_only_serialize_explicit.cpp
  docs/mkdocs/docs/examples/nlohmann_define_type_intrusive_with_default_explicit.cpp
  docs/mkdocs/docs/examples/nlohmann_define_type_non_intrusive_explicit.cpp
  docs/mkdocs/docs/examples/nlohmann_define_type_non_intrusive_only_serialize_explicit.cpp
  docs/mkdocs/docs/examples/nlohmann_define_type_non_intrusive_with_default_explicit.cpp
  docs/mkdocs/docs/features/arbitrary_types.md
  include/nlohmann/detail/macro_scope.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-udt_macro.cpp
Labels: documentation, L, tests

#4605 Fix broken links
  README.md
  docs/mkdocs/Makefile
  docs/mkdocs/docs/api/basic_json/to_bjdata.md
  docs/mkdocs/docs/features/binary_formats/bjdata.md
Labels: documentation, M

#4585 use diagnostic positions in exceptions
  docs/mkdocs/docs/api/macros/json_diagnostic_positions.md
  docs/mkdocs/docs/api/macros/json_diagnostics.md
  docs/mkdocs/docs/examples/diagnostic_positions_exception.cpp
  docs/mkdocs/docs/examples/diagnostic_positions_exception.output
  docs/mkdocs/docs/examples/diagnostics_extended_positions.cpp
  docs/mkdocs/docs/examples/diagnostics_extended_positions.output
  include/nlohmann/detail/exceptions.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-diagnostic-positions-only.cpp
  tests/src/unit-diagnostic-positions.cpp
  tests/src/unit-json_patch.cpp
  tests/src/unit-json_pointer.cpp
  tests/src/unit-regression1.cpp
Labels: documentation, L, tests

#4611 Add VisionOS support to Swift Package Manager Package.swift definition file
  Package.swift
Labels: S

#4613 fix compilation issue
  include/nlohmann/detail/json_pointer.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-alt-string.cpp
Labels: M, tests

#4628 Add note on derived return type for value function
  docs/mkdocs/docs/api/basic_json/at.md
  docs/mkdocs/docs/api/basic_json/value.md
  docs/mkdocs/docs/examples/value__return_type.cpp
  docs/mkdocs/docs/examples/value__return_type.output
  docs/mkdocs/docs/features/element_access/default_value.md
Labels: documentation, review needed, M
