Repository nlohmann/json, pull requests merged in 2025-05, with the labels that each got.

#4770 Add comment regarding #4767
  tests/src/unit-locale-cpp.cpp
Labels: review needed, S, tests

#4748 Fix typos
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  FILES.md
  README.md
  docs/mkdocs/docs/api/adl_serializer/index.md
  docs/mkdocs/docs/api/basic_json/basic_json.md
  docs/mkdocs/docs/api/basic_json/empty.md
  docs/mkdocs/docs/api/basic_json/insert.md
  docs/mkdocs/docs/api/basic_json/json_base_class_t.md
  docs/mkdocs/docs/api/macros/nlohmann_define_derived_type.md
  docs/mkdocs/docs/api/macros/nlohmann_define_type_intrusive.md
  docs/mkdocs/docs/api/macros/nlohmann_define_type_non_intrusive.md
  docs/mkdocs/docs/api/macros/nlohmann_json_serialize_enum.md
  docs/mkdocs/docs/api/ordered_json.md
  docs/mkdocs/docs/features/binary_formats/cbor.md
  docs/mkdocs/docs/features/binary_values.md
  docs/mkdocs/docs/features/enum_conversion.md
  docs/mkdocs/docs/features/iterators.md
  docs/mkdocs/docs/features/namespace.md
  docs/mkdocs/docs/home/exceptions.md
  docs/mkdocs/docs/home/faq.md
  docs/mkdocs/docs/home/releases.md
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_chars.hpp
  include/nlohmann/detail/exceptions.hpp
  include/nlohmann/detail/input/binary_reader.hpp
  include/nlohmann/detail/input/input_adapters.hpp
  include/nlohmann/detail/input/json_sax.hpp
  include/nlohmann/detail/input/lexer.hpp
  include/nlohmann/detail/input/parser.hpp
  include/nlohmann/detail/iterators/iter_impl.hpp
  include/nlohmann/detail/iterators/primitive_iterator.hpp
  include/nlohmann/detail/json_pointer.hpp
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/meta/type_traits.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  include/nlohmann/detail/output/serializer.hpp
  include/nlohmann/detail/string_escape.hpp
  include/nlohmann/json.hpp
  include/nlohmann/ordered_map.hpp
  single_include/nlohmann/json.hpp
  tools/serve_header/README.md
Labels: documentation, review needed, L

#4771 Update to Doctest 2.4.12
  tests/src/unit-alt-string.cpp
  tests/src/unit-bjdata.cpp
  tests/src/unit-bson.cpp
  tests/src/unit-cbor.cpp
  tests/src/unit-class_parser.cpp
  tests/src/unit-class_parser_diagnostic_positions.cpp
  tests/src/unit-comparison.cpp
  tests/src/unit-constructor1.cpp
  tests/src/unit-constructor2.cpp
  tests/src/unit-convenience.cpp
  tests/src/unit-conversions.cpp
  tests/src/unit-deserialization.cpp
  tests/src/unit-element_access1.cpp
  tests/src/unit-element_access2.cpp
  tests/src/unit-inspection.cpp
  tests/src/unit-iterators1.cpp
  tests/src/unit-json_patch.cpp
  tests/src/unit-msgpack.cpp
  tests/src/unit-ordered_map.cpp
  tests/src/unit-pointer_access.cpp
  tests/src/unit-readme.cpp
  tests/src/unit-regression1.cpp
  tests/src/unit-regression2.cpp
  tests/src/unit-to_chars.cpp
  tests/src/unit-ubjson.cpp
  tests/src/unit-udt.cpp
  tests/src/unit-udt_macro.cpp
  tests/thirdparty/doctest/doctest.h
Labels: review needed, L, tests

#4766 Add GCC 15.1.0 flags
  cmake/gcc_flags.cmake
  tests/src/unit-msgpack.cpp
  tests/thirdparty/doctest/doctest.h
Labels: review needed, M, tests, CMake

#4775 Replace deprecated std::is_trivial in C++26
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/macro_unscope.hpp
  include/nlohmann/detail/output/binary_writer.hpp
  single_include/nlohmann/json.hpp
Labels: M

#4786 Extend type_name() to invalid type
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-regression2.cpp
Labels: M, tests

#4609 Add ignore_trailing_commas option
  README.md
  docs/mkdocs/docs/api/basic_json/accept.md
  docs/mkdocs/docs/api/basic_json/parse.md
  docs/mkdocs/docs/api/basic_json/sax_parse.md
  docs/mkdocs/docs/examples/comments.cpp
  docs/mkdocs/docs/examples/comments.output
  docs/mkdocs/docs/examples/trailing_commas.cpp
  docs/mkdocs/docs/examples/trailing_commas.output
  docs/mkdocs/docs/features/comments.md
  docs/mkdocs/docs/features/trailing_commas.md
  docs/mkdocs/mkdocs.yml
  include/nlohmann/detail/input/parser.hpp
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-class_parser.cpp
Labels: documentation, review needed, L, tests

#4468 Fix example code for json::json_pointer initialization
  docs/mkdocs/docs/features/json_pointer.md
Labels: documentation, S

#4793 Detect used C++ standard library
  cmake/detect_libcpp_version.cpp
  cmake/download_test_data.cmake
  tests/src/unit-msgpack.cpp
Labels: M, tests, CMake

#4801 Adjust warnings flags
  .clang-tidy
  tests/thirdparty/doctest/doctest.h
Labels: S, tests
