Repository nlohmann/json, pull requests merged in 2025-08, with the labels that each got.

#4876 Fix #4863: skip try_run for LIBCPP_VERSION_OUTPUT during cross compil…
  cmake/download_test_data.cmake
Labels: S, CMake

#4873 Fixes #4854 Explicitly handle nullptr in sax_parse
  docs/mkdocs/docs/home/exceptions.md
  include/nlohmann/json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-class_parser.cpp
Labels: documentation, L, tests

#4878 Update sax_parse documentation
  docs/mkdocs/docs/api/basic_json/sax_parse.md
  docs/mkdocs/docs/home/exceptions.md
Labels: documentation, review needed, M

#4879 Suppress more Clang-Tidy warnings
  .clang-tidy
Labels: S

#4891 add fail-on-error:false for Coveralls
  .github/workflows/ubuntu.yml
Labels: S, CI
