Repository nlohmann/json, pull requests merged in 2025-04, with the labels that each got.

#4709 Adjust CMake minimal version
  .github/workflows/ubuntu.yml
  CMakeLists.txt
  README.md
  cmake/ci.cmake
  docs/mkdocs/docs/community/quality_assurance.md
  docs/mkdocs/docs/home/customers.md
  docs/mkdocs/docs/images/customers.png
  docs/mkdocs/docs/integration/cmake.md
  tests/cmake_add_subdirectory/project/CMakeLists.txt
  tests/cmake_import/project/CMakeLists.txt
  tests/cmake_import_minver/project/CMakeLists.txt
  tests/cmake_target_include_directories/project/CMakeLists.txt
Labels: documentation, review needed, M, CI, tests, CMake

#4631 Make std::filesystem::path conversion to/from UTF-8 encoded string explicit
  .github/external_ci/appveyor.yml
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  include/nlohmann/detail/macro_scope.hpp
  include/nlohmann/detail/macro_unscope.hpp
  single_include/nlohmann/json.hpp
  tests/CMakeLists.txt
  tests/src/unit-conversions.cpp
Labels: CI, tests, CMake

#4738 Fix warning and add emscripten CI step
  .github/workflows/ubuntu.yml
  docs/mkdocs/docs/community/quality_assurance.md
  include/nlohmann/detail/output/serializer.hpp
  single_include/nlohmann/json.hpp
Labels: documentation, review needed, M, CI

#4749 Fix C4702 warning and extend MSVC CI job
  .github/workflows/windows.yml
  include/nlohmann/detail/input/binary_reader.hpp
  single_include/nlohmann/json.hpp
Labels: review needed, L, CI

#4736 Provide fallback for missing `char8_t` support
  include/nlohmann/detail/conversions/from_json.hpp
  include/nlohmann/detail/conversions/to_json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-deserialization.cpp
Labels: M, tests

#4763 Add missing header
  docs/mkdocs/docs/community/quality_assurance.md
  include/nlohmann/detail/conversions/from_json.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-regression2.cpp
  tests/src/unit-user_defined_input.cpp
Labels: documentation, M, tests
