Repository nlohmann/json, pull requests merged in 2025-03, with the labels that each got.

#4679 Correct typo in sax_interface.md
  docs/mkdocs/docs/features/parsing/sax_interface.md
Labels: documentation, S

#4693 fixes issue 4691
  tools/gdb_pretty_printer/nlohmann-json.py
Labels: M

#4701 Suppress clang-analyzer-webkit.NoUncountedMemberChecker
  .clang-tidy
  .github/workflows/ubuntu.yml
  docs/mkdocs/docs/community/quality_assurance.md
  include/nlohmann/detail/input/lexer.hpp
  include/nlohmann/detail/json_pointer.hpp
  single_include/nlohmann/json.hpp
  tests/src/unit-constructor1.cpp
  tests/src/unit-conversions.cpp
  tests/src/unit-element_access2.cpp
  tests/src/unit-json_pointer.cpp
  tests/src/unit-regression2.cpp
  tests/src/unit-udt_macro.cpp
Labels: documentation, review needed, M, CI, tests

#4670 tests: Fix ignored attributes warning during build
  tests/src/make_test_data_available.hpp
  tests/src/unit-testsuites.cpp
Labels: M, tests
